{"openapi":"3.0.0","info":{"title":"ALAPI接口平台","description":"ALAPI接口平台，官方地址：www.alapi.cn,免费提供数百款接口供开发者使用","version":"3.0.0","contact":{"name":"ALAPI","url":"https:\/\/www.alapi.cn"}},"servers":[{"url":"https:\/\/v3.alapi.cn","description":"ALAPI 接口域名地址"}],"paths":{"\/api\/hitokoto":{"post":{"summary":"Hitokoto一言","description":"动漫也好、小说也好、网络也好，不论在哪里，我们总会看到有那么一两个句子能穿透你的心。我们把这些句子汇聚起来，形成一言网络，以传递更多的感动。","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_1"}}}]},"example":{"request_id":"718231561371185152","success":true,"message":"success","code":200,"data":{"id":597,"user_id":1,"hitokoto":"透过孩子的眼神，让我相信这个世界上还有着纯真。","type":"g","from":"宫崎骏","creator":"anythink"},"time":1732199748,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/1\/api_document","description":"Hitokoto一言官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{"type":{"type":"string","description":"一言类型,a动画,b漫画,c游戏,d文学,e原创,f来自网络,g其他,h影视,i诗词,j网易云,k哲学,l抖机灵"},"format":{"type":"string","description":"返回类型"}}}}}}}},"\/api\/soul":{"post":{"summary":"心灵毒鸡汤","description":"生活已经够苦，需要一点“毒”味来提神","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_2"}}}]},"example":{"request_id":"718232164369494016","success":true,"message":"success","code":200,"data":{"content":"精神濒临崩溃的症状之一，就是相信自己的工作非常重要。"},"time":1732199892,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/2\/api_document","description":"心灵毒鸡汤官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{}}}}}}},"\/api\/dog":{"post":{"summary":"舔狗日记","description":"卑微的爱情舔狗\n","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_11"}}}]},"example":{"request_id":"718232026137817088","success":true,"message":"success","code":200,"data":{"content":"今天莫名其妙的被你删了 我伤心的哭了好久 朋友觉得我惨 决定去问问你为什么删我 结果你男朋友回的消息 说是他删的 我感觉自己心里舒服了好多 原来你不舍得删我 在你心里一定把我放在一个很重要的位置。"},"time":1732199859,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/3\/api_document","description":"舔狗日记官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{"format":{"type":"string","default":"json","description":"返回数据格式，支持 ：json,text"}}}}}}}},"\/api\/one":{"post":{"summary":"ONE · 一个 文章","description":"分享ONE一个每日的最新文章、问答、摄影","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_12"}}}]},"example":[]}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/4\/api_document","description":"ONE · 一个 文章官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{"date":{"type":"string","description":"日期，默认当天"}}}}}}}},"\/api\/one\/photo":{"post":{"summary":"ONE · 一个 摄影","description":"分享ONE一个每日的最新文章、问答、摄影","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_13"}}}]},"example":[]}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/4\/api_document","description":"ONE · 一个 摄影官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{"date":{"type":"string","description":"日期，默认当天"}}}}}}}},"\/api\/one\/question":{"post":{"summary":"ONE · 一个 问答","description":"分享ONE一个每日的最新文章、问答、摄影","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_14"}}}]},"example":[]}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/4\/api_document","description":"ONE · 一个 问答官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{"date":{"type":"string","description":"日期，默认当天"}}}}}}}},"\/api\/mingyan":{"post":{"summary":"名人名言","description":"随机返回一条古今中外名人名言\n","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_15"}}}]},"example":{"request_id":"719251762749407232","success":true,"message":"success","code":200,"data":{"content":"教养就是习惯于从最美好的事物中得到满足而且知道为什么。","author":"范戴克","typeid":17},"time":1732442983,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/5\/api_document","description":"名人名言官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{"format":{"type":"string","description":"返回格式,支持json,text\t"},"typeid":{"type":"string","description":"名言类型"}}}}}}}},"\/api\/mingyan\/type":{"post":{"summary":"名人名言类型","description":"随机返回一条古今中外名人名言\n","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_16"}}}]},"example":{"request_id":"719253485501059073","success":true,"message":"success","code":200,"data":[{"label":"爱情","value":1},{"label":"道德","value":2}],"time":1732443394,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/5\/api_document","description":"名人名言类型官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{}}}}}}},"\/api\/shici":{"post":{"summary":"随机诗词","description":"随机诗词服务，随机返回一篇古代诗词","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_17"}}}]},"example":{"request_id":"719258592791777280","success":true,"message":"success","code":200,"data":{"content":"将坛醇酒冰浆细，元夜邀宾灯火新。","author":"赵时春","origin":"元宵饮陶总戎家二首","category":"古诗文-节日-元宵节","c1":"gushiwen","c2":"jieri","c3":"yuanxiaojie"},"time":1732444611,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/6\/api_document","description":"随机诗词官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{"format":{"type":"string","default":"json","description":"返回数据格式，默认json，支持 json、text"},"type":{"type":"string","description":"诗词类型,默认随机，支持的类型：shuqing:抒情,siji:四季,shanshui:山水,tianqi:天气,renwu:人物,shenghuo:生活,jieri:节日,dongwu:动物,zhiwu:植物,shiwu:食物"}}}}}}}},"\/api\/acg":{"post":{"summary":"ACG动漫图片","description":"随机返回一个ACG动漫图片壁纸","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_18"}}}]},"example":{"request_id":"719267223088189440","success":true,"message":"success","code":200,"data":{"url":"https:\/\/file.alapi.cn\/image\/comic\/153237-1550475157e234.jpg","width":1200,"height":699},"time":1732446669,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/7\/api_document","description":"ACG动漫图片官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{"format":{"type":"string","default":"image","description":"返回数据格式,支持 json、image"}}}}}}}},"\/api\/bing":{"post":{"summary":"必应美图","description":"获取每日必应的壁纸美图","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_19"}}}]},"example":[]}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/8\/api_document","description":"必应美图官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"format":{"type":"string","default":"image","description":"返回数据类型，支持 json,image"}},"required":["format"]}}}}}},"\/api\/joke":{"post":{"summary":"笑话列表","description":"精选各种文字类笑话","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_20"}}}]},"example":{"request_id":"719669819972317184","success":true,"message":"success","code":200,"data":[{"title":"","content":"大学刚开学的时候，我报道后的第二天才去的宿舍。到了宿舍之后，隔壁床位的同学问我：你是哪里的？我说了之后，发现我们俩是一个地方的，于是同学说：没想到我们俩是一个地方的。我笑着说：是啊，真是好巧。她继续道：还有个戴眼镜的也和咱俩一个地方。我看了看手里的眼镜，不知道说什么才好。","time":"2019-10-09 19:04:25"},{"title":"","content":"有次坐火车，半夜去上厕所，见一六十多岁的大妈坐在过道上打瞌睡。我说：大妈，请你让一下！大妈没反应，我又说：大姐，请你让一下！大妈还是没反应。我不得再次说：美女，请你让一下！大妈立刻站了起来。许多人都笑了，祝愿大妈永远保持一颗年轻的心。","time":"2019-10-09 19:05:03"},{"title":"","content":"邻居接孩子放学，妈妈问孩子：“小玲，n你午饭吃了什么呀!”小玲说：“妈妈，我吃了玉米、肉肉，还有老师给的屎很好吃。”妈妈一听完孩子这么说顿时怒了，妈妈立刻到幼儿园找到老师闹了起来，听了事情前前后后，老师很委屈跟妈妈解释。\n可是已经被愤怒冲昏了头脑的妈妈也不听，这时候，老师从冰箱里拿出“榴莲”给家长看说“这个可能就是孩子说的屎吧”\n原来老师给孩子吃的是榴莲，榴莲的味道本身就很重，孩","time":"2019-10-09 19:05:03"},{"title":"","content":"刚进大学那会儿，我就和十七成了好朋友。新生军训，我们借口上厕所偷偷跑去买零食，结果发现通往小卖部的铁门锁上了。\n十七嘴甜，喊住铁门外一个路过的老头：叔叔，能帮我们买包薯片吗？\n老头：你们训练的时候，不是不让吃零食吗？\n十七：不让教官看见就没事，叔叔帮帮我们呗！\n老头嘿嘿一笑，答应了我们的请求。\n吃完薯片我和十七开玩笑：刚才那个老头不像好人，出卖我们怎么办？\n十七：薯片都帮忙买了，","time":"2019-10-09 19:05:03"},{"title":"","content":"小时候家里穷，没吃过草莓，\n有一次在路边看到有卖草莓的，\n我不敢开口说想吃，就问爸爸：“草莓甜吗？”\n爸爸心领神会，把我带到草莓摊子前，\n问老板：“这草莓甜吗？”\n摊主说：“可甜了！”\n我爸扭头对我说：“他说挺甜的。\n还有别的问题吗？没有就走吧。”","time":"2019-10-09 19:05:03"},{"title":"","content":"去舅舅家玩，舅舅家杀猪，可是没有人会杀，听说雇人杀猪要100块，舅舅和舅妈一想，花100元不值，就决定自己杀，士气满满的把猪绑在门口的一棵树上，拿起菜刀冲着猪脖子就是一下，估计是猪皮太硬，一刀没砍动，猪吓毛了，发疯了似得跑进屋里。现在舅舅在把屋里的房门关着，眼看着猪把炕拱塌了，衣柜拱坏了，舅妈现在眼泪汪汪的给杀猪的打电话呢 ！！！","time":"2019-10-09 19:05:03"},{"title":"","content":"以前，我跟我舍友借了50块，然后忘了这茬。他又不好意思明说，多次暗示我，我也没想起来。\n后来，他拉我去打篮球，他一直跳起来摸筐，我说：跳这么高有什么要诀吗？能不能教教我？\n他说：有，你把50块还我吧，毕竟无债一身轻啊……","time":"2019-10-09 19:05:03"},{"title":"","content":"我们一起学男朋友叫:你又怎么啦，我错行了吧，你要这么想我也没办法，哎呀至于吗，只是朋友啦，多喝热水，早点睡觉，我打游戏了","time":"2019-10-09 19:05:03"},{"title":"","content":"&#8220;岳父是卖菜的，一辈子老实人，当年我和我老婆结婚，岳父是一百个不同意，但后来倔不过我老婆，只能表面同意，但心里很不爽，我结婚很多天了，岳父都不理我老婆。\n我老婆去买菜，故意去岳父摊上买，拿着白菜看了又看，我岳父就是不理她，老婆自己说道，老板，你这白菜怎么这么烂？\n岳父没好气的回答:“跟你一样，让猪拱了。”\n老婆也不生气，买了一百斤白菜。\n岳父问，你买这么多干嘛？\n老婆","time":"2019-10-09 19:05:03"},{"title":"","content":"面试，我洗了个澡，头发梳成大佬模样，换了身帅气的西装，面试的是那公司的小经理，瞅见我就说了一句让我终身难忘的话：比起前几个应聘的，你更像是来收购我们的。","time":"2019-10-09 19:05:03"}],"time":1732542655,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/9\/api_document","description":"笑话列表官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{"page":{"type":"string","description":"分页"},"num":{"type":"string","description":"分页大小"}}}}}}}},"\/api\/joke\/random":{"post":{"summary":"随机笑话","description":"精选各种文字类笑话","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_21"}}}]},"example":[]}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/9\/api_document","description":"随机笑话官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{}}}}}}},"\/api\/riddle":{"post":{"summary":"谜语大全列表","description":"谜语大全，中国谜语大全宝典","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_22"}}}]},"example":{"request_id":"719677548283322368","success":true,"message":"success","code":200,"data":[{"title":"出于口而无穷","content":"出于口而无穷","answer":"生财之道"}],"time":1732544498,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/10\/api_document","description":"谜语大全列表官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{"type":{"type":"string","description":"谜语类型"},"page":{"type":"string","default":"1","description":"分页"}}}}}}}},"\/api\/riddle\/random":{"post":{"summary":"随机谜语","description":"谜语大全，中国谜语大全宝典","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_23"}}}]},"example":{"request_id":"719677447057989632","success":true,"message":"success","code":200,"data":{"content":"悔意无心空对月，大哥头上有条疤，接受不离只作友，单身贵族尔相伴，朝夕相对盼夕阳，情人别离影孤单，二人想逢在此处。","title":"悔意无心空对月，大哥头上有条疤，接受不离只作友，单身贵族尔相伴，朝夕相对盼夕阳，情人别离影孤单，二人想逢在此处。","answer":"每天爱你多一些"},"time":1732544474,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/10\/api_document","description":"随机谜语官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{}}}}}}},"\/api\/riddle\/type":{"post":{"summary":"谜语类型","description":"谜语大全，中国谜语大全宝典","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_24"}}}]},"example":{"request_id":"719677593678274560","success":true,"message":"success","code":200,"data":[{"type":"chengyumiyu","name":"成语谜语","desc":"顾名思义，成语谜指猜成语的谜语。"}],"time":1732544509,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/10\/api_document","description":"谜语类型官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{}}}}}}},"\/api\/eventHistory":{"post":{"summary":"历史上的今天","description":"查历史上的指定日期发生的大事","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_25"}}}]},"example":{"request_id":"720055706203545600","success":true,"message":"success","code":200,"data":[{"id":"3880cad353ba11eb90470c42a1415493","title":"意大利同意部署美国导弹","year":1983,"month":11,"day":26,"monthday":"1126","date":"1983年11月26日","desc":"..."},{"id":"3880cbd553ba11eb90470c42a1415493","title":"英国发生历史上最大的抢劫案","year":1983,"month":11,"day":26,"monthday":"1126","date":"1983年11月26日","desc":"..."},{"id":"3880cc6953ba11eb90470c42a1415493","title":"岳阳楼大修工程开始","year":1982,"month":11,"day":26,"monthday":"1126","date":"1982年11月26日","desc":"..."},{"id":"3880ce1053ba11eb90470c42a1415493","title":"全球首例基因编辑婴儿诞生","year":2018,"month":11,"day":26,"monthday":"1126","date":"2018年11月26日","desc":"..."},{"id":"3880cfd353ba11eb90470c42a1415493","title":"《王者荣耀》游戏上线","year":2015,"month":11,"day":26,"monthday":"1126","date":"2015年11月26日","desc":"..."},{"id":"3880d6e353ba11eb90470c42a1415493","title":"瀛海威大辞职","year":1998,"month":11,"day":26,"monthday":"1126","date":"1998年11月26日","desc":"..."},{"id":"3880d77753ba11eb90470c42a1415493","title":"学者冯友兰逝世","year":1990,"month":11,"day":26,"monthday":"1126","date":"1990年11月26日","desc":"..."},{"id":"3880d80653ba11eb90470c42a1415493","title":"上海证券交易所开业","year":1990,"month":11,"day":26,"monthday":"1126","date":"1990年11月26日","desc":"..."},{"id":"3880d89053ba11eb90470c42a1415493","title":"深圳首次有偿出让土地使用权","year":1987,"month":11,"day":26,"monthday":"1126","date":"1987年11月26日","desc":"..."},{"id":"3880d98553ba11eb90470c42a1415493","title":"美驻哥伦比亚大使馆被炸","year":1984,"month":11,"day":26,"monthday":"1126","date":"1984年11月26日","desc":"..."},{"id":"3880da1c53ba11eb90470c42a1415493","title":"美航天飞机“阿特兰蒂斯”号升空","year":1985,"month":11,"day":26,"monthday":"1126","date":"1985年11月26日","desc":"..."},{"id":"3880e00253ba11eb90470c42a1415493","title":"五届人大五次会议召开，通过建国以来的第四部宪法","year":1981,"month":11,"day":26,"monthday":"1126","date":"1981年11月26日","desc":"..."},{"id":"3880e23753ba11eb90470c42a1415493","title":"中国海军护航舰队今天起锚赴索马里海域","year":2008,"month":11,"day":26,"monthday":"1126","date":"2008年11月26日","desc":"..."},{"id":"3880e3d753ba11eb90470c42a1415493","title":"中国移动成为全球最大移动通信运营商","year":2001,"month":11,"day":26,"monthday":"1126","date":"2001年11月26日","desc":"..."},{"id":"3880f4fb53ba11eb90470c42a1415493","title":"日本首相田中角荣辞职","year":1974,"month":11,"day":26,"monthday":"1126","date":"1974年11月26日","desc":"..."},{"id":"3880f57e53ba11eb90470c42a1415493","title":"美国把两艘核动力舰投入侵越战争","year":1965,"month":11,"day":26,"monthday":"1126","date":"1965年11月26日","desc":"..."},{"id":"3880f5f653ba11eb90470c42a1415493","title":"法国发射第一个人造地球卫星","year":1965,"month":11,"day":26,"monthday":"1126","date":"1965年11月26日","desc":"..."},{"id":"3880f67953ba11eb90470c42a1415493","title":"陈若克英勇就义","year":1941,"month":11,"day":26,"monthday":"1126","date":"1941年11月26日","desc":"..."},{"id":"3880f6fc53ba11eb90470c42a1415493","title":"德国将华沙的犹太人驱进犹太人居住区","year":1940,"month":11,"day":26,"monthday":"1126","date":"1940年11月26日","desc":"..."},{"id":"3880f77753ba11eb90470c42a1415493","title":"青年共产国际成立","year":1919,"month":11,"day":26,"monthday":"1126","date":"1919年11月26日","desc":"..."},{"id":"3880f7f353ba11eb90470c42a1415493","title":"吉林边务督办陈昭常派兵将天宝山银矿收归官有","year":1907,"month":11,"day":26,"monthday":"1126","date":"1907年11月26日","desc":"..."},{"id":"3880f87753ba11eb90470c42a1415493","title":"中国同盟会机关报《民报》创刊","year":1905,"month":11,"day":26,"monthday":"1126","date":"1905年11月26日","desc":"..."},{"id":"3880f8ee53ba11eb90470c42a1415493","title":"空调发明人威利斯·开利出生","year":1876,"month":11,"day":26,"monthday":"1126","date":"1876年11月26日","desc":"..."},{"id":"3880f96853ba11eb90470c42a1415493","title":"罗荣桓元帅诞辰","year":1902,"month":11,"day":26,"monthday":"1126","date":"1902年11月26日","desc":"..."},{"id":"3880fa6553ba11eb90470c42a1415493","title":"波兰诗人、革命家密茨凯维支逝世","year":1855,"month":11,"day":26,"monthday":"1126","date":"1855年11月26日","desc":"..."},{"id":"3880fb0253ba11eb90470c42a1415493","title":"清廷批准成立轮船招商局","year":1872,"month":11,"day":26,"monthday":"1126","date":"1872年11月26日","desc":"..."},{"id":"3880fd4153ba11eb90470c42a1415493","title":"拿破仑强渡别列津纳河","year":1812,"month":11,"day":26,"monthday":"1126","date":"1812年11月26日","desc":"..."},{"id":"3880fedf53ba11eb90470c42a1415493","title":"晚清重臣曾国藩出生","year":1811,"month":11,"day":26,"monthday":"1126","date":"1811年11月26日","desc":"..."},{"id":"3880ff8d53ba11eb90470c42a1415493","title":"埃迪斯通灯塔被飓风毁坏","year":1703,"month":11,"day":26,"monthday":"1126","date":"1703年11月26日","desc":"..."},{"id":"3881002553ba11eb90470c42a1415493","title":"亚洲奥林匹克理事会成立","year":1981,"month":11,"day":26,"monthday":"1126","date":"1981年11月26日","desc":"..."},{"id":"3881012953ba11eb90470c42a1415493","title":"西班牙女王伊莎贝尔一世逝世","year":1504,"month":11,"day":26,"monthday":"1126","date":"1504年11月26日","desc":"..."},{"id":"3881070353ba11eb90470c42a1415493","title":"国务院批准首批博士硕士学位授予单位","year":1981,"month":11,"day":26,"monthday":"1126","date":"1981年11月26日","desc":"..."}],"time":1732634658,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/11\/api_document","description":"历史上的今天官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{"month":{"type":"string","description":"月份，指定数据的月份，默认本月"},"day":{"type":"string","description":"日期，指定数据的日期，默认当天"}}}}}}}},"\/api\/eventHistory\/get":{"post":{"summary":"历史上的今天详情","description":"查历史上的指定日期发生的大事","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_26"}}}]},"example":{"request_id":"720056579050790912","success":true,"message":"success","code":200,"data":{"date":"1983年11月26日","monthday":"1126","title":"意大利同意部署美国导弹","content":"在37年前的今天，1983年11月26日(农历1983年10月22日)，意大利同意部署美国导弹。1983年11月26日，意大利总理克拉克西今天在给苏联领导人安德罗波夫的回信中说，“和平不能同俯首帖耳的屈服相提并论，不能同放弃可靠的安全相提并论”。他表示意大利将“承担在大西洋联盟内应承担的职责”。克拉克西在信中还说：“可靠的安全是独立的前提条件。苏联有权有自己的安全，欧洲国家和意大利也同样有权有自己的安全。苏联加强了它的针对欧洲的核导弹体系，造成了不平衡，我们认为这种不平衡是不能接受的。”克拉克西在信中指出：“这一不平衡早在4年前已被指明，在以后的几年里不但没有改善，反而因（苏联）不断部署导弹而加剧了”。他强调说，意大利从来没有对苏联人民和政府表现出敌意，但是“不能把友好关系同听从于任何形式的威胁相混淆”。意大利总理府公布了这封信的内容，同时也公布了安德罗波夫昨天就意大利决定部署美国导弹给克拉克西的信的内容。安德罗波夫在信中表示对意大利“做出的进一步加剧局势的选择感到痛心”。来信说，“从意大利的决定中得出的结论是，意大利政府同美国政府一样，它们选择了同在欧洲减少核冲突的路线完全相反的路线，这种选择只会使核冲突加剧，只会导致军事威胁的加剧。”意大利国防部宣布，头一批美国巡航导弹的部件已运抵西西里岛的美国海军基地，准备在该岛科米索空军基地部署。这是按计划部署在意大利的112枚地对空发射的中远程战斧式导弹的第一批部件。公报说：“政府已通知议会，头一批武器系统预定要在1984年3月作好投入实际使用的准备。”克拉克西政府已于11月16日以351票对219票获得议会批准部署导弹的计划。另据报道，美国潘兴Ⅱ式导弹部件也已于26日运到联邦德国斯图加特附近的穆特兰根美军基地，这里将部署9枚导弹。联邦德国数百名群众连日在斯图加特美军基地前示威，一度封锁了基地的入口处，并破坏了基地的一部分铁丝网。意大利西西里岛的美国海军基地和科米索机场也有群众示威，不过规模比较小一些。美国导弹还将按计划运往荷兰和比利时。","day":26,"id":"3880cad353ba11eb90470c42a1415493","month":11,"year":1983,"desc":"在37年前的今天，1983年11月26日(农历1983年10月22日)，意大利同意部署美国导弹。1983年11月26日，意大利总理克拉克西今天在给苏联领导人安德罗波夫的回信中说，“和平不能同俯首帖耳的..."},"time":1732634866,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/11\/api_document","description":"历史上的今天详情官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"历史上的今天Id"}},"required":["id"]}}}}}},"\/api\/garbage":{"post":{"summary":"垃圾分类","description":"通过关键字搜索物品是否属于哪种垃圾","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_27"}}}]},"example":{"request_id":"720067967550922753","success":true,"message":"success","code":200,"data":[{"name":"白菜","type":"3","explain":"厨余垃圾是指居民日常生活及食品加工、饮食服务、单位供餐等活动中产生的垃圾。","contain":"常见包括菜叶、剩菜、剩饭、果皮、蛋壳、茶渣、骨头等","tip":"纯流质的食物垃圾、如牛奶等，应直接倒进下水口。有包装物的湿垃圾应将包装物去除后分类投放、包装物请投放到对应的可回收物或干垃圾容器"}],"time":1732637582,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/12\/api_document","description":"垃圾分类官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"垃圾名称"}},"required":["name"]}}}}}},"\/api\/xhy":{"post":{"summary":"歇后语搜索","description":"歇后语大全","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_28"}}}]},"example":{"request_id":"720382368199958528","success":true,"message":"success","code":200,"data":[{"riddle":"灶王爷扫院子","answer":"多管闲事"}],"time":1732712540,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/13\/api_document","description":"歇后语搜索官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"word":{"type":"string","description":"歇后语搜索关键词"},"page":{"type":"string","default":"1","description":"分页"}},"required":["word"]}}}}}},"\/api\/xhy\/random":{"post":{"summary":"随机歇后语","description":"歇后语大全","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_29"}}}]},"example":{"request_id":"720382368199958528","success":true,"message":"success","code":200,"data":{"riddle":"灶王爷扫院子","answer":"多管闲事"},"time":1732712540,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/13\/api_document","description":"随机歇后语官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{}}}}}}},"\/api\/comment":{"post":{"summary":"网易云乐评","description":"网易云乐评，来自网易云歌曲高赞评论","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_30"}}}]},"example":{"request_id":"720404601547042816","success":true,"message":"success","code":200,"data":{"song_id":496370620,"title":"断线","image":"https:\/\/p2.music.126.net\/W-4b64hCb_s8OAGROQXgig==\/109951162995598984.jpg","author":"Shang","album":"断线","description":"歌手：Shang。所属专辑：断线。","mp3_url":"https:\/\/v2.alapi.cn\/api\/music\/url\/token?id=496370620&timestamp=1732717841&sign=859f2fc003ef8267fb534edfd302d5d5","published_date":"2017-11-11 22:00:28","comment_id":611878672,"comment_user_id":415159326,"comment_nickname":"你不许笨","comment_avatar_url":"https:\/\/p4.music.126.net\/no2BxfPwaYPXyhItL3wQZQ==\/109951164681491742.jpg","comment_liked_count":129787,"comment_content":"這裏人少 我可不可以哭一會","comment_published_date":"2017-11-11 22:00:28"},"time":1732717841,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/14\/api_document","description":"网易云乐评官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{}}}}}}},"\/api\/zhihu":{"post":{"summary":"知乎日报","description":"知乎日报,每天3次，每次7分钟","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_31"}}}]},"example":{"request_id":"721489444040904704","success":true,"message":"success","code":200,"data":{"date":"20241130","stories":[{"id":9777023,"url":"https:\/\/daily.zhihu.com\/story\/9777023","hint":"瞻云 · 2 分钟阅读","type":0,"title":"黄河每天将鱼冲入大海，淡水鱼在海中无法生存活，这些鱼去哪里了？","images":["https:\/\/pic1.zhimg.com\/v2-0e450b0bf1d3b65c3c69b34a9e18007f.jpg?source=8673f162"],"ga_prefix":"113007","image_hue":"0x9e846f"},{"id":9777167,"url":"https:\/\/daily.zhihu.com\/story\/9777167","hint":"青琅玕 · 2 分钟阅读","type":0,"title":"如果在一个非常重要的考古遗址正下方发现了更重要的遗址怎么办？","images":["https:\/\/picx.zhimg.com\/v2-6a5a668f29c8918adb9f0e1ee14505f7.jpg?source=8673f162"],"ga_prefix":"113007","image_hue":"0xb3b3b3"},{"id":9777173,"url":"https:\/\/daily.zhihu.com\/story\/9777173","hint":"Suzie · 1 分钟阅读","type":0,"title":"恐怖是什么感觉？","images":["https:\/\/pic1.zhimg.com\/v2-15dbaa38f7a285bc38e6dc6b56743b89.jpg?source=8673f162"],"ga_prefix":"113007","image_hue":"0x040405"},{"id":9777177,"url":"https:\/\/daily.zhihu.com\/story\/9777177","hint":"非凡 · 2 分钟阅读","type":0,"title":"为什么我的父母对高压锅莫名的执着呢？","images":["https:\/\/picx.zhimg.com\/v2-faa439d720ff876851d3cfa9fb35a1c0.jpg?source=8673f162"],"ga_prefix":"113007","image_hue":"0x1b180f"}],"top_stories":[{"id":9777050,"url":"https:\/\/daily.zhihu.com\/story\/9777050","hint":"作者 \/ 云杉","type":0,"image":"https:\/\/pic1.zhimg.com\/v2-2f734c86130f8b1e0824525cbf7385b3.jpg?source=8673f162","title":"有哪些农业上的事实，没有一定农学知识的人不会相信？","ga_prefix":"112207","image_hue":"0xb3b3b3"},{"id":9777061,"url":"https:\/\/daily.zhihu.com\/story\/9777061","hint":"作者 \/ 安森垚","type":0,"image":"https:\/\/picx.zhimg.com\/v2-ece99c17d2aade13bfd209b28697da16.jpg?source=8673f162","title":"人类语言各不相通，那历史上第一个翻译是如何做到的呢？","ga_prefix":"112307","image_hue":"0xb3b3b3"},{"id":9777035,"url":"https:\/\/daily.zhihu.com\/story\/9777035","hint":"作者 \/ 姚蔚铭","type":0,"image":"https:\/\/picx.zhimg.com\/v2-12dfb9aa1f77de5f74766eb753a3527b.jpg?source=8673f162","title":"为什么古代紫色稀有？明明蓝红可以调出来？","ga_prefix":"112007","image_hue":"0x5f266e"},{"id":9777023,"url":"https:\/\/daily.zhihu.com\/story\/9777023","hint":"作者 \/ 瞻云","type":0,"image":"https:\/\/picx.zhimg.com\/v2-3f07f7f164ee9064b176d61b07212453.jpg?source=8673f162","title":"黄河每天将鱼冲入大海，淡水鱼在海中无法生存活，这些鱼去哪里了？","ga_prefix":"113007","image_hue":"0x9e846f"},{"id":9777013,"url":"https:\/\/daily.zhihu.com\/story\/9777013","hint":"作者 \/ 免渡河","type":0,"image":"https:\/\/pic1.zhimg.com\/v2-c4e91101dc33a24c188d2007566de704.jpg?source=8673f162","title":"沙漠中修路的时候为什么不多修一条水管来治沙呢?","ga_prefix":"112907","image_hue":"0xb3774f"}]},"time":1732976488,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/15\/api_document","description":"知乎日报官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{}}}}}}},"\/api\/zhihu\/get":{"post":{"summary":"指定日期日报","description":"知乎日报,每天3次，每次7分钟","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_32"}}}]},"example":{"request_id":"721489444040904704","success":true,"message":"success","code":200,"data":{"date":"20241130","stories":[{"id":9777023,"url":"https:\/\/daily.zhihu.com\/story\/9777023","hint":"瞻云 · 2 分钟阅读","type":0,"title":"黄河每天将鱼冲入大海，淡水鱼在海中无法生存活，这些鱼去哪里了？","images":["https:\/\/pic1.zhimg.com\/v2-0e450b0bf1d3b65c3c69b34a9e18007f.jpg?source=8673f162"],"ga_prefix":"113007","image_hue":"0x9e846f"},{"id":9777167,"url":"https:\/\/daily.zhihu.com\/story\/9777167","hint":"青琅玕 · 2 分钟阅读","type":0,"title":"如果在一个非常重要的考古遗址正下方发现了更重要的遗址怎么办？","images":["https:\/\/picx.zhimg.com\/v2-6a5a668f29c8918adb9f0e1ee14505f7.jpg?source=8673f162"],"ga_prefix":"113007","image_hue":"0xb3b3b3"},{"id":9777173,"url":"https:\/\/daily.zhihu.com\/story\/9777173","hint":"Suzie · 1 分钟阅读","type":0,"title":"恐怖是什么感觉？","images":["https:\/\/pic1.zhimg.com\/v2-15dbaa38f7a285bc38e6dc6b56743b89.jpg?source=8673f162"],"ga_prefix":"113007","image_hue":"0x040405"},{"id":9777177,"url":"https:\/\/daily.zhihu.com\/story\/9777177","hint":"非凡 · 2 分钟阅读","type":0,"title":"为什么我的父母对高压锅莫名的执着呢？","images":["https:\/\/picx.zhimg.com\/v2-faa439d720ff876851d3cfa9fb35a1c0.jpg?source=8673f162"],"ga_prefix":"113007","image_hue":"0x1b180f"}],"top_stories":[{"id":9777050,"url":"https:\/\/daily.zhihu.com\/story\/9777050","hint":"作者 \/ 云杉","type":0,"image":"https:\/\/pic1.zhimg.com\/v2-2f734c86130f8b1e0824525cbf7385b3.jpg?source=8673f162","title":"有哪些农业上的事实，没有一定农学知识的人不会相信？","ga_prefix":"112207","image_hue":"0xb3b3b3"},{"id":9777061,"url":"https:\/\/daily.zhihu.com\/story\/9777061","hint":"作者 \/ 安森垚","type":0,"image":"https:\/\/picx.zhimg.com\/v2-ece99c17d2aade13bfd209b28697da16.jpg?source=8673f162","title":"人类语言各不相通，那历史上第一个翻译是如何做到的呢？","ga_prefix":"112307","image_hue":"0xb3b3b3"},{"id":9777035,"url":"https:\/\/daily.zhihu.com\/story\/9777035","hint":"作者 \/ 姚蔚铭","type":0,"image":"https:\/\/picx.zhimg.com\/v2-12dfb9aa1f77de5f74766eb753a3527b.jpg?source=8673f162","title":"为什么古代紫色稀有？明明蓝红可以调出来？","ga_prefix":"112007","image_hue":"0x5f266e"},{"id":9777023,"url":"https:\/\/daily.zhihu.com\/story\/9777023","hint":"作者 \/ 瞻云","type":0,"image":"https:\/\/picx.zhimg.com\/v2-3f07f7f164ee9064b176d61b07212453.jpg?source=8673f162","title":"黄河每天将鱼冲入大海，淡水鱼在海中无法生存活，这些鱼去哪里了？","ga_prefix":"113007","image_hue":"0x9e846f"},{"id":9777013,"url":"https:\/\/daily.zhihu.com\/story\/9777013","hint":"作者 \/ 免渡河","type":0,"image":"https:\/\/pic1.zhimg.com\/v2-c4e91101dc33a24c188d2007566de704.jpg?source=8673f162","title":"沙漠中修路的时候为什么不多修一条水管来治沙呢?","ga_prefix":"112907","image_hue":"0xb3774f"}]},"time":1732976488,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/15\/api_document","description":"指定日期日报官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"date":{"type":"string","description":""}},"required":["date"]}}}}}},"\/api\/zhihu\/news":{"post":{"summary":"获取日报详情","description":"知乎日报,每天3次，每次7分钟","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_33"}}}]},"example":{"request_id":"721491093828440064","success":true,"message":"success","code":200,"data":{"body":"<div class=\"main-wrap content-wrap\">\n<div class=\"headline\">\n\n<div class=\"img-place-holder\"><\/div>\n\n\n\n<\/div>\n\n<div class=\"content-inner\">\n\n\n\n\n<div class=\"question\">\n<h2 class=\"question-title\"><\/h2>\n\n<div class=\"answer\">\n\n<div class=\"meta\">\n<img class=\"avatar\" src=\"https:\/\/picx.zhimg.com\/v2-a828256341663bc1234f028f047f576d_l.jpg?source=8673f162\">\n<span class=\"author\">苏澄宇，<\/span><span class=\"bio\">动物科学 \/ 冷门问题收割者 \/ 分享动物们的小秘密<\/span>\n<a href=\"https:\/\/www.zhihu.com\/question\/39523990\/answer\/579956147\" class=\"originUrl\" hidden>查看知乎原文<\/a>\n<\/div>\n\n<div class=\"content\">\n<p>这听起来有些不可思议，但其实淹死一条鱼是有可能的。<\/p>\r\n<p>你可能会问，鱼就生活在水里，就像人类生活在空气中那么自然，那在水里淹死一条鱼岂不是等同于让人在空气中窒息？<\/p>\r\n<p>别急~要回答这个问题，我们先来解解题。<\/p>\r\n<p><strong>如何定义淹死？<\/strong><\/p>\r\n<blockquote>淹死的机制至今尚未最后阐明。<br> 过去认为淡水与海水溺死的机制不同。淡水溺死者水被大量吸收入血，使血液大大稀释，血容量增加，心脏负担增加，很快出现肺水肿，心律不规则，室性心律加快并发展为室性纤维性颤动，心力衰竭死亡。海水中溺死者吸入肺泡中的海水由于渗透压较高，不但不进入血液，相反地可从肺泡壁毛细血管内吸出水分，而造成肺水肿，血液则可发生一定程度的浓缩。<br> <br> 因此，海水溺死者常不发生心律紊乱，主要由于血液浓缩，粘滞度增高，最后发生心力和呼吸衰竭而死亡。<br> <br> 但目前认为，无论淡水溺死或海水溺死，水或电解质的转运均极小，故血容量之改变均不明显，不至于构成上述改变而造成死亡。实验一再证明，溺液被吸入呼吸道和肺泡内，妨碍呼吸运动，影响气体交换，导致体内氧气缺乏和二氧化碳的潴留，氧分压下降，二氧化碳分压升高，高碳酸血症。<br> <strong>因此，不论是淡水或海水溺死，死因都是缺氧窒息和酸中毒所致。<\/strong><\/blockquote>\r\n<p>淹死鱼的理论基础：鱼的呼吸方式<\/p>\r\n<p>要想知道如何淹死一条鱼，得先知道鱼是怎么呼吸的。<\/p>\r\n<p>我们都知道大多数的鱼都用鱼鳃来进行呼吸，其中每一个鳃页都有鳃弓支撑。一般来说，鱼鳃位于咽部的两侧，通过鳃裂与外部沟通。鳃中的蛋白丝结构称为鳃小片，可以增大鱼鳃与水中氧气的接触面积。<\/p>\r\n<figure><img class=\"content-image\" src=\"https:\/\/pica.zhimg.com\/v2-6adaa0e819343348cf4f9dda547a90d4_720w.jpg?source=8673f162\" alt=\"\"><\/figure>\r\n<p>当一条鱼呼吸时，它会规律地将水从嘴中吸入，并强迫其通过鳃流出，鳃小片则会通过接触水流来吸收氧，所以蛋白丝组成的大受氧面积对鱼类换气非常重要。随着逐渐适应，大多数鱼类已不能离水存活，水的密度可以保证其鳃不相互粘连而失去呼吸能力。<\/p>\r\n<p>当然不是所有的鱼都用鳃呼吸，比如非洲肺鱼就是直接呼吸空气，鳗鲡科的鱼类可以通过皮肤进行呼吸，这些都是少数，绝大部分的鱼类都是通过鳃呼吸的，所以在这里我们只讨论用鳃呼吸的鱼。<\/p>\r\n<figure><img class=\"content-image\" src=\"https:\/\/picx.zhimg.com\/v2-3eb5b8835bf8b58c17455de65efc1ac4_720w.jpg?source=8673f162\" alt=\"\"><\/figure>\r\n<p>对于鱼类来说，呼吸并没有想象中那么简单，因为氧气在水中的溶解度相当小。在 20°C，一个标准大气压的条件下，一升水只能溶解约 9 毫克的氧气，这大概只有空气中含氧量的 1\/35。这也意味着只要水体的环境发生些变化，水中溶解的氧气量就有可能不足以让鱼进行正常的呼吸。<\/p>\r\n<p>因此在水中生活的鱼只有尽可能的让更多的水通过它的鳃，来获取足够的氧气才能正常的呼吸。那么怎样才能获得足够大量的水呢？<\/p>\n<\/div>\n<\/div>\n\n\n<div class=\"view-more\"><a href=\"https:\/\/www.zhihu.com\/question\/39523990\">查看知乎讨论<span class=\"js-question-holder\"><\/span><\/a><\/div>\n\n<\/div>\n\n\n<\/div>\n<\/div><script type=“text\/javascript”>window.daily=true<\/script>","image_hue":"0x140404","publish_time":1731279660,"title":"怎样淹死一条鱼?","url":"https:\/\/daily.zhihu.com\/story\/9776693","image":"https:\/\/pic1.zhimg.com\/v2-2cc770024f305e0937f25afccf3f7fbe.jpg?source=8673f162","share_url":"http:\/\/daily.zhihu.com\/story\/9776693","js":[],"create_time":1730694531,"ga_prefix":"111107","images":["https:\/\/pica.zhimg.com\/v2-c120cb5ae7fd658fc645df03503923be.jpg?source=8673f162"],"type":0,"id":9776693,"css":["http:\/\/news-at.zhihu.com\/css\/news_qa.auto.css?v=4b3e3"]},"time":1732976881,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/15\/api_document","description":"获取日报详情官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"日报ID"}},"required":["id"]}}}}}},"\/api\/zhihu\/short_comments":{"post":{"summary":"获取日报短评论列表","description":"知乎日报,每天3次，每次7分钟","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_34"}}}]},"example":{"request_id":"721491608213688320","success":true,"message":"success","code":200,"data":{"comments":[{"author":"叫啥不是名","content":"养鱼常见的翻塘是不是鱼被淹死了？😁","avatar":"https:\/\/pic1.zhimg.com\/da8e974dc_l.jpg?source=8673f162","time":1731455063,"id":34273095,"likes":1},{"author":"阿诺","content":"我说怎么读了一半没了","avatar":"https:\/\/picx.zhimg.com\/a4c132f6162dd44f4633451de61d03d6_l.jpg?source=8673f162","time":1731372116,"reply_to":{"content":"知道为啥没搬运完整吗？因为他搬的原回答是会员专享内容，免费的部分就到这里。\n一大清早的我要笑死了，机器人实锤了。","status":0,"id":34272816,"author":"艹变身"},"id":34272977,"likes":0},{"author":"肥脸村姑","content":"这也太他妈搞了","avatar":"https:\/\/picx.zhimg.com\/da8e974dc_l.jpg?source=8673f162","time":1731369078,"reply_to":{"content":"知道为啥没搬运完整吗？因为他搬的原回答是会员专享内容，免费的部分就到这里。\n一大清早的我要笑死了，机器人实锤了。","status":0,"id":34272816,"author":"艹变身"},"id":34272952,"likes":3},{"author":"Gandalf","content":"这程序除了夹人发言的时候有人管理，\n平常基本属于无人管理状态","avatar":"https:\/\/pica.zhimg.com\/0fc6f5a6871cbde6e63f5e3853a72bcc_l.jpg?source=8673f162","time":1731368066,"id":34272938,"likes":2},{"author":"我爱大波啵","content":"就这还能入选？干什么的？","avatar":"https:\/\/picx.zhimg.com\/9ccd4d8ee_l.jpg?source=8673f162","time":1731367014,"id":34272934,"likes":0},{"author":"去哪","content":"这个时间是啥意思","avatar":"https:\/\/picx.zhimg.com\/v2-abed1a8c04700ba7d72b45195223e0ff_l.jpg?source=8673f162","time":1731329830,"id":34272932,"likes":0},{"author":"积木狗","content":"省流:把水里的氧气排完，比如煮沸或者富营养化","avatar":"https:\/\/pic1.zhimg.com\/be230d3f7907c03ea146b219be925322_l.jpg?source=8673f162","time":1731310242,"id":34272907,"likes":5},{"author":"he mark","content":"？？？","avatar":"https:\/\/pica.zhimg.com\/11edbf0403805d70343d56621eba38cc_l.jpg?source=8673f162","time":1731309745,"id":34272904,"likes":0},{"author":"呀哈哈","content":"限制在水里的话\n1水体富养化赤潮\n2神经毒素\n3限制鱼的游动\n4水面大规模原油泄露，塑料薄膜覆盖\n5负压可能也行\n6化学反应（比如硫化铁，铁海绵）\n7超声波脱气\n8光化学反应(光触媒生成H2O2)","avatar":"https:\/\/picx.zhimg.com\/da8e974dc_l.jpg?source=8673f162","time":1731298897,"id":34272894,"likes":5},{"author":"StrayRanger","content":"密封，让水和鱼不再接触外界空气就行了。不要有植物什么的。","avatar":"https:\/\/picx.zhimg.com\/v2-c0c6e1f25dd01fdc8c86ce1ff671dba2_l.jpg?source=8673f162","time":1731294808,"id":34272876,"likes":1},{"author":"神奇的小胖子","content":"。","avatar":"https:\/\/pica.zhimg.com\/8b0756327_l.jpg?source=8673f162","time":1731293411,"id":34272874,"likes":0},{"author":"毛怀贤","content":"看似是机器人没搬运完，实则是留下个引子让你充会员去看原答案","avatar":"https:\/\/picx.zhimg.com\/c0873f6a8_l.jpg?source=8673f162","time":1731287080,"reply_to":{"content":"知道为啥没搬运完整吗？因为他搬的原回答是会员专享内容，免费的部分就到这里。\n一大清早的我要笑死了，机器人实锤了。","status":0,"id":34272816,"author":"艹变身"},"id":34272850,"likes":5},{"author":"艹变身","content":"知道为啥没搬运完整吗？因为他搬的原回答是会员专享内容，免费的部分就到这里。\n一大清早的我要笑死了，机器人实锤了。","avatar":"https:\/\/pic1.zhimg.com\/v2-06ffec15fd62c63ecc51f99d94bc83cb_l.jpg?source=8673f162","time":1731284905,"id":34272816,"likes":33},{"author":"大猫巧克力","content":"下次麻烦粘贴完整","avatar":"https:\/\/picx.zhimg.com\/v2-98651d2ebbc8e74b367294634d6b4d8a_l.jpg?source=8673f162","time":1731283703,"id":34272793,"likes":2},{"author":"骆老师","content":"没完？","avatar":"https:\/\/picx.zhimg.com\/7085825791e8d69b677f84e6595f1fe3_l.jpg?source=8673f162","time":1731283342,"id":34272783,"likes":3}]},"time":1732977004,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/15\/api_document","description":"获取日报短评论列表官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"日报ID"}},"required":["id"]}}}}}},"\/api\/zhihu\/long_comments":{"post":{"summary":"获取日报长评论列表","description":"知乎日报,每天3次，每次7分钟","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_35"}}}]},"example":{"request_id":"721491608213688320","success":true,"message":"success","code":200,"data":{"comments":[{"author":"叫啥不是名","content":"养鱼常见的翻塘是不是鱼被淹死了？😁","avatar":"https:\/\/pic1.zhimg.com\/da8e974dc_l.jpg?source=8673f162","time":1731455063,"id":34273095,"likes":1},{"author":"阿诺","content":"我说怎么读了一半没了","avatar":"https:\/\/picx.zhimg.com\/a4c132f6162dd44f4633451de61d03d6_l.jpg?source=8673f162","time":1731372116,"reply_to":{"content":"知道为啥没搬运完整吗？因为他搬的原回答是会员专享内容，免费的部分就到这里。\n一大清早的我要笑死了，机器人实锤了。","status":0,"id":34272816,"author":"艹变身"},"id":34272977,"likes":0},{"author":"肥脸村姑","content":"这也太他妈搞了","avatar":"https:\/\/picx.zhimg.com\/da8e974dc_l.jpg?source=8673f162","time":1731369078,"reply_to":{"content":"知道为啥没搬运完整吗？因为他搬的原回答是会员专享内容，免费的部分就到这里。\n一大清早的我要笑死了，机器人实锤了。","status":0,"id":34272816,"author":"艹变身"},"id":34272952,"likes":3},{"author":"Gandalf","content":"这程序除了夹人发言的时候有人管理，\n平常基本属于无人管理状态","avatar":"https:\/\/pica.zhimg.com\/0fc6f5a6871cbde6e63f5e3853a72bcc_l.jpg?source=8673f162","time":1731368066,"id":34272938,"likes":2},{"author":"我爱大波啵","content":"就这还能入选？干什么的？","avatar":"https:\/\/picx.zhimg.com\/9ccd4d8ee_l.jpg?source=8673f162","time":1731367014,"id":34272934,"likes":0},{"author":"去哪","content":"这个时间是啥意思","avatar":"https:\/\/picx.zhimg.com\/v2-abed1a8c04700ba7d72b45195223e0ff_l.jpg?source=8673f162","time":1731329830,"id":34272932,"likes":0},{"author":"积木狗","content":"省流:把水里的氧气排完，比如煮沸或者富营养化","avatar":"https:\/\/pic1.zhimg.com\/be230d3f7907c03ea146b219be925322_l.jpg?source=8673f162","time":1731310242,"id":34272907,"likes":5},{"author":"he mark","content":"？？？","avatar":"https:\/\/pica.zhimg.com\/11edbf0403805d70343d56621eba38cc_l.jpg?source=8673f162","time":1731309745,"id":34272904,"likes":0},{"author":"呀哈哈","content":"限制在水里的话\n1水体富养化赤潮\n2神经毒素\n3限制鱼的游动\n4水面大规模原油泄露，塑料薄膜覆盖\n5负压可能也行\n6化学反应（比如硫化铁，铁海绵）\n7超声波脱气\n8光化学反应(光触媒生成H2O2)","avatar":"https:\/\/picx.zhimg.com\/da8e974dc_l.jpg?source=8673f162","time":1731298897,"id":34272894,"likes":5},{"author":"StrayRanger","content":"密封，让水和鱼不再接触外界空气就行了。不要有植物什么的。","avatar":"https:\/\/picx.zhimg.com\/v2-c0c6e1f25dd01fdc8c86ce1ff671dba2_l.jpg?source=8673f162","time":1731294808,"id":34272876,"likes":1},{"author":"神奇的小胖子","content":"。","avatar":"https:\/\/pica.zhimg.com\/8b0756327_l.jpg?source=8673f162","time":1731293411,"id":34272874,"likes":0},{"author":"毛怀贤","content":"看似是机器人没搬运完，实则是留下个引子让你充会员去看原答案","avatar":"https:\/\/picx.zhimg.com\/c0873f6a8_l.jpg?source=8673f162","time":1731287080,"reply_to":{"content":"知道为啥没搬运完整吗？因为他搬的原回答是会员专享内容，免费的部分就到这里。\n一大清早的我要笑死了，机器人实锤了。","status":0,"id":34272816,"author":"艹变身"},"id":34272850,"likes":5},{"author":"艹变身","content":"知道为啥没搬运完整吗？因为他搬的原回答是会员专享内容，免费的部分就到这里。\n一大清早的我要笑死了，机器人实锤了。","avatar":"https:\/\/pic1.zhimg.com\/v2-06ffec15fd62c63ecc51f99d94bc83cb_l.jpg?source=8673f162","time":1731284905,"id":34272816,"likes":33},{"author":"大猫巧克力","content":"下次麻烦粘贴完整","avatar":"https:\/\/picx.zhimg.com\/v2-98651d2ebbc8e74b367294634d6b4d8a_l.jpg?source=8673f162","time":1731283703,"id":34272793,"likes":2},{"author":"骆老师","content":"没完？","avatar":"https:\/\/picx.zhimg.com\/7085825791e8d69b677f84e6595f1fe3_l.jpg?source=8673f162","time":1731283342,"id":34272783,"likes":3}]},"time":1732977004,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/15\/api_document","description":"获取日报长评论列表官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"日报ID"}},"required":["id"]}}}}}},"\/api\/new\/wbtop":{"post":{"summary":"微博热搜榜","description":"微博热搜榜单，实时获取微博搜索榜单","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_36"}}}]},"example":{"request_id":"721775239314321408","success":true,"message":"success","code":200,"data":[{"hot_word":"17岁中专生被7家企业疯抢妈妈骄傲","hot_word_num":1516291,"url":"https:\/\/s.weibo.com\/weibo?q=17岁中专生被7家企业疯抢妈妈骄傲"},{"hot_word":"人民网评胖东来彩礼事件","hot_word_num":735197,"url":"https:\/\/s.weibo.com\/weibo?q=人民网评胖东来彩礼事件"},{"hot_word":"我国首型4米级直径的火箭","hot_word_num":663359,"url":"https:\/\/s.weibo.com\/weibo?q=我国首型4米级直径的火箭"},{"hot_word":"李行亮商演再次遭抵制","hot_word_num":660486,"url":"https:\/\/s.weibo.com\/weibo?q=李行亮商演再次遭抵制"},{"hot_word":"菲律宾一村庄村民分食海龟致3人死亡","hot_word_num":646654,"url":"https:\/\/s.weibo.com\/weibo?q=菲律宾一村庄村民分食海龟致3人死亡"},{"hot_word":"上海127元一荤三素的快餐","hot_word_num":540792,"url":"https:\/\/s.weibo.com\/weibo?q=上海127元一荤三素的快餐"},{"hot_word":"三人虚假摆拍救助流浪女视频被罚","hot_word_num":533719,"url":"https:\/\/s.weibo.com\/weibo?q=三人虚假摆拍救助流浪女视频被罚"},{"hot_word":"小伙捐出日军罪证2年后还在被网暴","hot_word_num":508638,"url":"https:\/\/s.weibo.com\/weibo?q=小伙捐出日军罪证2年后还在被网暴"},{"hot_word":"莎头组合合体","hot_word_num":501960,"url":"https:\/\/s.weibo.com\/weibo?q=莎头组合合体"},{"hot_word":"虞书欣视频在卖什么关子","hot_word_num":468812,"url":"https:\/\/s.weibo.com\/weibo?q=虞书欣视频在卖什么关子"},{"hot_word":"国考笔试成绩明年1月可查","hot_word_num":467088,"url":"https:\/\/s.weibo.com\/weibo?q=国考笔试成绩明年1月可查"},{"hot_word":"华晨宇蹦丢了一个31万的耳钉","hot_word_num":467046,"url":"https:\/\/s.weibo.com\/weibo?q=华晨宇蹦丢了一个31万的耳钉"},{"hot_word":"国考","hot_word_num":466972,"url":"https:\/\/s.weibo.com\/weibo?q=国考"},{"hot_word":"尾号888888手机号被法拍42万成交","hot_word_num":434484,"url":"https:\/\/s.weibo.com\/weibo?q=尾号888888手机号被法拍42万成交"},{"hot_word":"林栋哲庄筱婷婚后生活","hot_word_num":428955,"url":"https:\/\/s.weibo.com\/weibo?q=林栋哲庄筱婷婚后生活"},{"hot_word":"催收班培训三天收五千至一万元","hot_word_num":423778,"url":"https:\/\/s.weibo.com\/weibo?q=催收班培训三天收五千至一万元"},{"hot_word":"以为是一套卷子没想到发下来一本书","hot_word_num":420707,"url":"https:\/\/s.weibo.com\/weibo?q=以为是一套卷子没想到发下来一本书"},{"hot_word":"李胜利疑似喊话向佐","hot_word_num":398617,"url":"https:\/\/s.weibo.com\/weibo?q=李胜利疑似喊话向佐"},{"hot_word":"向佐女装撞脸张予曦","hot_word_num":387851,"url":"https:\/\/s.weibo.com\/weibo?q=向佐女装撞脸张予曦"},{"hot_word":"高危性行为后多久能检测出艾滋病病毒","hot_word_num":385166,"url":"https:\/\/s.weibo.com\/weibo?q=高危性行为后多久能检测出艾滋病病毒"},{"hot_word":"刘宇宁十二月行程图送达","hot_word_num":354326,"url":"https:\/\/s.weibo.com\/weibo?q=刘宇宁十二月行程图送达"},{"hot_word":"微信提现可以免手续费了","hot_word_num":352862,"url":"https:\/\/s.weibo.com\/weibo?q=微信提现可以免手续费了"},{"hot_word":"我国艾滋病性传播约70%是异性传播","hot_word_num":343009,"url":"https:\/\/s.weibo.com\/weibo?q=我国艾滋病性传播约70%是异性传播"},{"hot_word":"鹿晗一天吃一顿每天跑十公里","hot_word_num":248095,"url":"https:\/\/s.weibo.com\/weibo?q=鹿晗一天吃一顿每天跑十公里"},{"hot_word":"黄晓明悼念姥姥","hot_word_num":229750,"url":"https:\/\/s.weibo.com\/weibo?q=黄晓明悼念姥姥"},{"hot_word":"jlpt","hot_word_num":203582,"url":"https:\/\/s.weibo.com\/weibo?q=jlpt"},{"hot_word":"王源丁程鑫好六上班","hot_word_num":196617,"url":"https:\/\/s.weibo.com\/weibo?q=王源丁程鑫好六上班"},{"hot_word":"南部档案","hot_word_num":162336,"url":"https:\/\/s.weibo.com\/weibo?q=南部档案"},{"hot_word":"鹿晗拒绝放十二月的奇迹","hot_word_num":161080,"url":"https:\/\/s.weibo.com\/weibo?q=鹿晗拒绝放十二月的奇迹"},{"hot_word":"2025个税专项附加扣除信息确认开始","hot_word_num":160692,"url":"https:\/\/s.weibo.com\/weibo?q=2025个税专项附加扣除信息确认开始"},{"hot_word":"朱易clean","hot_word_num":160557,"url":"https:\/\/s.weibo.com\/weibo?q=朱易clean"},{"hot_word":"微信运动太暴露隐私了","hot_word_num":160543,"url":"https:\/\/s.weibo.com\/weibo?q=微信运动太暴露隐私了"},{"hot_word":"Whiplash一位","hot_word_num":160520,"url":"https:\/\/s.weibo.com\/weibo?q=Whiplash一位"},{"hot_word":"杨紫渐变高定纱裙","hot_word_num":154183,"url":"https:\/\/s.weibo.com\/weibo?q=杨紫渐变高定纱裙"},{"hot_word":"极品婆婆撞到儿子儿媳亲热现场","hot_word_num":141922,"url":"https:\/\/s.weibo.com\/weibo?q=极品婆婆撞到儿子儿媳亲热现场"},{"hot_word":"王楚钦说自己内心的起伏超出预期","hot_word_num":141197,"url":"https:\/\/s.weibo.com\/weibo?q=王楚钦说自己内心的起伏超出预期"},{"hot_word":"全家去日本旅行我爸非要用英文交流","hot_word_num":131842,"url":"https:\/\/s.weibo.com\/weibo?q=全家去日本旅行我爸非要用英文交流"},{"hot_word":"迪丽热巴贺思慕冬装造型","hot_word_num":126559,"url":"https:\/\/s.weibo.com\/weibo?q=迪丽热巴贺思慕冬装造型"},{"hot_word":"双轨换导演","hot_word_num":124617,"url":"https:\/\/s.weibo.com\/weibo?q=双轨换导演"},{"hot_word":"500多斤大猫压在身上睡觉是啥感觉","hot_word_num":112302,"url":"https:\/\/s.weibo.com\/weibo?q=500多斤大猫压在身上睡觉是啥感觉"},{"hot_word":"快乐再出发","hot_word_num":102995,"url":"https:\/\/s.weibo.com\/weibo?q=快乐再出发"},{"hot_word":"广州出现奇葩斑马线","hot_word_num":99264,"url":"https:\/\/s.weibo.com\/weibo?q=广州出现奇葩斑马线"},{"hot_word":"马龙打棒球","hot_word_num":97496,"url":"https:\/\/s.weibo.com\/weibo?q=马龙打棒球"},{"hot_word":"名侦探学院","hot_word_num":95818,"url":"https:\/\/s.weibo.com\/weibo?q=名侦探学院"},{"hot_word":"王源再现十年前双手合十","hot_word_num":92511,"url":"https:\/\/s.weibo.com\/weibo?q=王源再现十年前双手合十"},{"hot_word":"距离2025仅剩30天","hot_word_num":89792,"url":"https:\/\/s.weibo.com\/weibo?q=距离2025仅剩30天"},{"hot_word":"朱志鑫苏新皓MV合照","hot_word_num":88948,"url":"https:\/\/s.weibo.com\/weibo?q=朱志鑫苏新皓MV合照"},{"hot_word":"突然就明白了什么是情感漠视","hot_word_num":88004,"url":"https:\/\/s.weibo.com\/weibo?q=突然就明白了什么是情感漠视"},{"hot_word":"丁禹兮南部档案上班路透","hot_word_num":85710,"url":"https:\/\/s.weibo.com\/weibo?q=丁禹兮南部档案上班路透"},{"hot_word":"王一博北京飞杭州","hot_word_num":85339,"url":"https:\/\/s.weibo.com\/weibo?q=王一博北京飞杭州"}],"time":1733044626,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/16\/api_document","description":"微博热搜榜官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{"num":{"type":"string","default":"50","description":"返回数量，最大50"}}}}}}}},"\/api\/new\/hanfu":{"post":{"summary":"汉服新闻","description":"汉服新闻，获取汉服相关的新闻信息","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_37"}}}]},"example":{"request_id":"721849520706646017","success":true,"message":"success","code":200,"data":[{"title":"中国—中东欧文创产业蓬勃发展","desc":"对中国文化的喜爱从屏幕到现实，当地民众报名学习中文的人数年年攀升，各类文化活动中身着汉服、化着精致古妆的“洋贵妃”们也成了一道亮丽的风景线。旅游业合作延续喜人势头。","ctime":"2024-07-05 10:00:00","pic_url":"","url":"http:\/\/www.chinanews.com.cn\/ydyl\/2024\/07-05\/10246188.shtml"},{"title":"夜经济点燃山西黎城“烟火气” 释放消费新活力","desc":"便熙熙攘攘，各具特色的商品摊位、传统风味的特色美食、琳琅满目的非遗文创吸引着过往民众驻足，人们或畅游古色古香街景、或品尝传统特色美食、或穿着汉服拍照打卡","ctime":"2024-07-04 21:00:00","pic_url":"","url":"http:\/\/www.chinanews.com.cn\/sh\/2024\/07-04\/10245952.shtml"},{"title":"台湾青年：通过两岸文化交流，找回“被消失”的民族信念","desc":"汉服、《甄嬛传》、相声曲艺……来听听他们都说了啥！(陈文韬）","ctime":"2024-07-04 19:00:00","pic_url":"","url":"http:\/\/www.chinanews.com.cn\/tw\/shipin\/cns\/2024\/07-04\/news994036.shtml"},{"title":"当外交遇上书香丨“世界有如海洋，时代有如劲风”","desc":"不仅是中国书，这里还有中国的歌曲、京剧、汉服、书法，而走出孔子学院，马路对过是从无到有的中国超市，周边是越加丰富的中国元素。","ctime":"2024-07-04 16:00:00","pic_url":"","url":"http:\/\/www.chinanews.com.cn\/gn\/2024\/07-04\/10245766.shtml"},{"title":"个个都是“显眼包”！中华文化魅力在台青身上散发着青春光彩","desc":"中新网北京7月4日电(记者陈文韬)“真的超爱汉服！我们选择穿着马面裙，就是要在峰会现场当一回‘显眼包’！”","ctime":"2024-07-04 11:00:00","pic_url":"","url":"http:\/\/www.chinanews.com.cn\/gn\/2024\/07-04\/10245565.shtml"},{"title":"连胜文寄语两岸曲艺界青年：共促中华传统艺术生生不息","desc":"安宸初表示，她身边许多台湾朋友对汉服等中华传统文化越来越感兴趣，希望日后能和更多伙伴一同参加多样的两岸文化交流活动。","ctime":"2024-07-03 22:00:00","pic_url":"","url":"http:\/\/www.chinanews.com.cn\/gn\/2024\/07-03\/10245357.shtml"},{"title":"台青畅游三秦：与历史对话 寻中华文脉","desc":"记者了解到，开营仪式后，台湾青年将启程参观西安博物院，品味汉唐风韵；穿汉服唐装沉浸式打卡大唐芙蓉园等景区；骑自行车环游城墙，与兵马俑“对话”，探秘历史遗存。","ctime":"2024-07-03 19:00:00","pic_url":"","url":"http:\/\/www.chinanews.com.cn\/gn\/2024\/07-03\/10245231.shtml"},{"title":"（铸牢共同体 中华一家亲）时间不语过千年 内蒙古文物里的民族文化交融","desc":"而女主人则身穿左衽紫色长袍，外罩具有汉服特色的深蓝色开襟短衫。","ctime":"2024-07-03 16:00:00","pic_url":"","url":"http:\/\/www.chinanews.com.cn\/cul\/2024\/07-03\/10245115.shtml"},{"title":"泥塑、剪纸、戏文纸扎 非物质文化遗产的“黄河大合唱”","desc":"近日，赵东民正在准备“非遗进校园”的新课纲，杨秀玲带着新学员投入到汉服剪纸的创作中，赵曼丽构想的非遗新项目也已初具雏形。","ctime":"2024-07-03 16:00:00","pic_url":"","url":"http:\/\/www.chinanews.com.cn\/cul\/2024\/07-03\/10245121.shtml"},{"title":"学位帽插满花 广西高校毕业季流行国潮装扮","desc":"从读初中开始，何铠云就对汉服和国潮有浓厚兴趣，读高中时尝试购买汉服，上大学后更是将国潮元素融...","ctime":"2024-07-03 16:00:00","pic_url":"","url":"http:\/\/www.chinanews.com.cn\/sh\/2024\/07-03\/10245124.shtml"}],"time":1733062337,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/17\/api_document","description":"汉服新闻官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"page":{"type":"string","default":"1","description":"分页"}},"required":["page"]}}}}}},"\/api\/new\/toutiao":{"post":{"summary":"新闻头条","description":"网易新闻头条，每天更新","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_38"}}}]},"example":{"request_id":"722229712088363008","success":true,"message":"success","code":200,"data":[{"title":"大批叙利亚政府军向反对派投降 全部蹲坐在地上","type":"1","digest":"","docid":"VZHDT31TT","pc_url":"https:\/\/m.163.com\/news\/video\/VZHDT31TT.html","m_url":"https:\/\/m.163.com\/news\/video\/VZHDT31TT.html","imgsrc":"http:\/\/cms-bucket.ws.126.net\/2024\/1201\/5025498cj00snthv9000yc000s600e3c.jpg","source":"军武大狼","time":"2024-12-01 21:48:14"},{"title":"实拍:叙利亚反对派把阿萨德父亲雕像头颅砍下来当球踢","type":"1","digest":"","docid":"VZHDQEEN0","pc_url":"https:\/\/m.163.com\/news\/video\/VZHDQEEN0.html","m_url":"https:\/\/m.163.com\/news\/video\/VZHDQEEN0.html","imgsrc":"","source":"军武大狼","time":"2024-12-01 21:48:14"},{"title":"广东第三节崩盘负四川 萨姆纳32+11+7伤退徐杰32+9+7","type":"1","digest":"广东第三节崩盘负四川 萨姆纳32+11+7伤退徐杰32+9+7","docid":"JIBRVVCE0005877V","pc_url":"https:\/\/m.163.com\/news\/article\/JIBRVVCE0005877V.html","m_url":"https:\/\/m.163.com\/news\/article\/JIBRVVCE0005877V.html","imgsrc":"http:\/\/cms-bucket.ws.126.net\/2024\/1201\/9dd5e802p00sntia10012c0009c0070c.png","source":"网易体育","time":"2024-12-01 21:47:20"},{"title":"时隔308天再上30+！徐杰轰32+9+7三分拼尽全力 广东连败他成亮点","type":"1","digest":"时隔308天再上30+！徐杰轰32+9+7三分拼尽全力 广东连败他成亮点","docid":"JIBRN6PG05299VFU","pc_url":"https:\/\/m.163.com\/news\/article\/JIBRN6PG05299VFU.html","m_url":"https:\/\/m.163.com\/news\/article\/JIBRN6PG05299VFU.html","imgsrc":"http:\/\/dingyue.ws.126.net\/2024\/1201\/5fd38e5fj00snti6q00tyd000lq00q6m.jpg","source":"颜小白的篮球梦","time":"2024-12-01 21:45:38"},{"title":"辽篮客场险胜送深圳8连败 威尔斯28分付豪18+15","type":"1","digest":"辽篮客场险胜送深圳8连败 威尔斯28分付豪18+15","docid":"JIBRQMKF0005877V","pc_url":"https:\/\/m.163.com\/news\/article\/JIBRQMKF0005877V.html","m_url":"https:\/\/m.163.com\/news\/article\/JIBRQMKF0005877V.html","imgsrc":"http:\/\/cms-bucket.ws.126.net\/2024\/1201\/0817016dp00snti5j001ac0009c0070c.png","source":"网易体育","time":"2024-12-01 21:44:27"},{"title":"体操冠军吴柳芳账号已解禁，粉丝涨至260万！曾被管晨辰批评为“擦边”主播","type":"1","digest":"体操冠军吴柳芳账号已解禁，粉丝涨至260万！曾被管晨辰批评为“擦边”主播","docid":"JIBRQ7SV0530JPVV","pc_url":"https:\/\/m.163.com\/news\/article\/JIBRQ7SV0530JPVV.html","m_url":"https:\/\/m.163.com\/news\/article\/JIBRQ7SV0530JPVV.html","imgsrc":"http:\/\/dingyue.ws.126.net\/2024\/1201\/662a55b2j00snthqs00t3d000hs00zhg.jpg","source":"鲁中晨报","time":"2024-12-01 21:44:12"},{"title":"吴柳芳解封，抖音已可关注","type":"1","digest":"吴柳芳解封，抖音已可关注","docid":"JIBRLVLM055616Y9","pc_url":"https:\/\/m.163.com\/news\/article\/JIBRLVLM055616Y9.html","m_url":"https:\/\/m.163.com\/news\/article\/JIBRLVLM055616Y9.html","imgsrc":"http:\/\/dingyue.ws.126.net\/2024\/1201\/1d5a3330j00snti1l003hd000rs00y9g.jpg","source":"娱乐的小灶","time":"2024-12-01 21:41:52"},{"title":"被爆裁员，拖欠大额货款！可优比创始人：公司没有暴雷","type":"1","digest":"被爆裁员，拖欠大额货款！可优比创始人：公司没有暴雷","docid":"JIBR23H60553TAZH","pc_url":"https:\/\/m.163.com\/news\/article\/JIBR23H60553TAZH.html","m_url":"https:\/\/m.163.com\/news\/article\/JIBR23H60553TAZH.html","imgsrc":"http:\/\/dingyue.ws.126.net\/2024\/1201\/1fcead2fj00snthji000nd000hs00deg.jpg","source":"叮当当科技","time":"2024-12-01 21:31:01"},{"title":"叙利亚叛军发动激烈攻势 叙总统最新表态","type":"1","digest":"叙利亚叛军发动激烈攻势 叙总统最新表态","docid":"JIAR4MCR05504DPG","pc_url":"https:\/\/m.163.com\/news\/article\/JIAR4MCR05504DPG.html","m_url":"https:\/\/m.163.com\/news\/article\/JIAR4MCR05504DPG.html","imgsrc":"http:\/\/cms-bucket.ws.126.net\/2024\/1201\/29d903fdp00snthda0015c0009c0070c.png","source":"环球时报新闻","time":"2024-12-01 21:27:29"},{"title":"17岁中专生被六七家企业高薪疯抢，技能变得比学历更重要了？","type":"1","digest":"17岁中专生被六七家企业高薪疯抢，技能变得比学历更重要了？","docid":"JIBQH2T305566SCY","pc_url":"https:\/\/m.163.com\/news\/article\/JIBQH2T305566SCY.html","m_url":"https:\/\/m.163.com\/news\/article\/JIBQH2T305566SCY.html","imgsrc":"http:\/\/dingyue.ws.126.net\/2024\/1201\/1c75f461j00snth40001hd000gh00bhg.jpg","source":"户外钓鱼哥阿勇","time":"2024-12-01 21:21:43"}],"time":1733152984,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/18\/api_document","description":"新闻头条官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{"type":{"type":"string","default":"1","description":"新闻类型"},"page":{"type":"string","default":"1","description":"分页"}}}}}}}},"\/api\/new\/toutiao\/type":{"post":{"summary":"头条类型","description":"网易新闻头条，每天更新","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_39"}}}]},"example":{"request_id":"722230182349533184","success":true,"message":"success","code":200,"data":[{"type":"1","name":"要闻"},{"type":"2","name":"娱乐"}],"time":1733153093,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/18\/api_document","description":"头条类型官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{}}}}}}},"\/api\/mryw":{"post":{"summary":"每日一文","description":"每日一文接口，随机美文","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_40"}}}]},"example":[]}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/19\/api_document","description":"每日一文官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{}}}}}}},"\/api\/mryw\/random":{"post":{"summary":"随机美文","description":"每日一文接口，随机美文","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_41"}}}]},"example":[]}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/19\/api_document","description":"随机美文官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{}}}}}}},"\/api\/mryw\/list":{"post":{"summary":"美文列表","description":"每日一文接口，随机美文","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_42"}}}]},"example":[]}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/19\/api_document","description":"美文列表官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{"cate":{"type":"string","default":"everyday","description":"美文分类，目前支持：everyday，yilin"}}}}}}}},"\/api\/url":{"post":{"summary":"短网址生成","description":"快速将长网址缩短为短网址","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_43"}}}]},"example":{"request_id":"722598224803721217","success":true,"message":"success","code":200,"data":{"type":"u5kcn","long_url":"https:\/\/www.alapi.cn","short_url":"https:\/\/u5k.cn\/2gz8m"},"time":1733240842,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/20\/api_document","description":"短网址生成官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"url":{"type":"string","description":"长网址"},"type":{"type":"string","default":"dwzmk","description":"短网址平台类型,默认随机"}},"required":["url"]}}}}}},"\/api\/url\/type":{"post":{"summary":"短网址类型","description":"快速将长网址缩短为短网址","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_44"}}}]},"example":{"request_id":"722598594808442880","success":true,"message":"success","code":200,"data":[{"domain":"a.u5k.cn","type":"au5kcn","weight":3}],"time":1733240930,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/20\/api_document","description":"短网址类型官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{}}}}}}},"\/api\/url\/query":{"post":{"summary":"短网址还原","description":"将短网址还原为长网址","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_45"}}}]},"example":{"request_id":"722599239435223040","success":true,"message":"success","code":200,"data":{"short_url":"https:\/\/kfurl.cn\/ssl","long_url":"https:\/\/www.alapi.cn"},"time":1733241084,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/21\/api_document","description":"短网址还原官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"url":{"type":"string","description":"要还原的短网址"}},"required":["url"]}}}}}},"\/api\/url\/batchQuery":{"post":{"summary":"批量短网址还原","description":"将短网址还原为长网址","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_46"}}}]},"example":{"request_id":"722599239435223040","success":true,"message":"success","code":200,"data":[{"short_url":"https:\/\/kfurl.cn\/ssl","long_url":"https:\/\/www.alapi.cn"}],"time":1733241084,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/21\/api_document","description":"批量短网址还原官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"urls":{"type":"string","description":"短网址，多个用英文逗号分隔，不能超过50个"}},"required":["urls"]}}}}}},"\/api\/fanyi":{"post":{"summary":"文本翻译","description":"文本翻译，通过机器翻译将文本翻译为对应的语言","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_47"}}}]},"example":[]}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/22\/api_document","description":"文本翻译官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"q":{"type":"string","description":"要翻译的文本"},"from":{"type":"string","default":"zh","description":"来源语种。默认 zh"},"to":{"type":"string","default":"en","description":"翻译语种，默认en\t"}},"required":["q"]}}}}}},"\/api\/ip":{"post":{"summary":"IP地址查询","description":"高精度IP归属地查询，支持IPV4和IPV6,数据每月更新","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_48"}}}]},"example":{"request_id":"722950494561095681","success":true,"message":"success","code":200,"data":{"ip":"114.114.114.114","beginip":"114.114.114.114","endip":"114.114.114.114","continent":"亚洲","country":"中国","province":"江苏","city":"南京","district":"","isp":"114DNS","adcode":"320100","country_en":"China","country_cc":"CN","lng":"118.7674","lat":"32.0415","pos":"中国江苏南京"},"time":1733324829,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/23\/api_document","description":"IP地址查询官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{"ip":{"type":"string","description":"要查询的IP，默认获取请求客户端的IP"}}}}}}}},"\/api\/icp":{"post":{"summary":"ICP域名备案实时查询","description":"根据域名实时返回查询域名的备案信息（与官网一致），适用于对备案信息变化及时性 要求高的用户，如备案监控，备案域名接入系统等","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_49"}}}]},"example":{"request_id":"811388553943900160","success":true,"message":"success","code":200,"data":{"domain":"baidu.com","is_icp":true,"main_licence":"京ICP证030173号","service_licence":"京ICP证030173号-1","update_record_time":"2019-05-16 16:06:21","unit_name":"北京百度网讯科技有限公司","nature_name":"企业"},"time":1754410114,"usage":1}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/24\/api_document","description":"ICP域名备案实时查询官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"domain":{"type":"string","default":"baidu.com","description":"要查询的域名"}},"required":["domain"]}}}}}},"\/api\/whois":{"post":{"summary":"域名Whois查询","description":"域名Whois查询，查询域名注册信息","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_50"}}}]},"example":{"request_id":"726493452858130432","success":true,"message":"success","code":200,"data":{"domain":"baidu.com","is_reg":true,"suffix":"com","name_server":["ns1.baidu.com","ns2.baidu.com","ns3.baidu.com","ns4.baidu.com","ns7.baidu.com"],"creation_date":"1999-10-11T11:05:17Z","expiration_date":"2026-10-11T11:05:17Z","registrar":"MarkMonitor Inc.","registrant_phone":"+1.2086851750","registrant_email":"abusecomplaints@markmonitor.com","domain_status":["clientDeleteProhibited","clientTransferProhibited","clientUpdateProhibited","serverDeleteProhibited","serverTransferProhibited","serverUpdateProhibited"]},"time":1734169538,"usage":1}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/25\/api_document","description":"域名Whois查询官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"domain":{"type":"string","description":"要查询的域名"}},"required":["domain"]}}}}}},"\/api\/lanzou":{"post":{"summary":"蓝奏云直连解析","description":"蓝奏云直链解析，支持单个文件，文件夹，以及密码文件","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_51"}}}]},"example":{"request_id":"726492729562984449","success":true,"message":"success","code":200,"data":{"name":"ndp48-x86-x64-allos-enu.exe","size":"69.4 M","time":"2020-10-09","url":"https:\/\/develope.lanzoug.com\/file\/?AmRWaAw9V2ZTWgE5BjNRPQQ7Umpeb1E3BXIGNFM3BytXL1U6C2ACe1R6C2tTM1xwBzwFbAIxBmsEcAArXGVRPgJ3Vi8MNFd7U2ABcQY0UTkEMlIyXl5ROgVmBj1TPAc2V2BVOgtiAmVUNgtvUyFcOwcuBT0CagY2BDQANFwxUWUCNFY5DHdXc1N1AWoGYFFgBGxSZ14uUWIFMgYvUz8HP1d4VWQLYwIzVGQLbVM0XDgHawU1AmkGPQRmAGNcOVFmAjJWYwxjV2ZTZwE0BjNRYgRsUjNeY1FkBWcGYlNsBzNXZVUsCzMCLlRnC3tTclwuBzgFcgI0BmAEPgAxXDFRYAI1VjAMZlclU3EBPgY\/UTUEOFJqXjBRZAUxBjRTPgcwV25VOwtlAmJUJAs7U2tcKgdgBTECagY3BDcAN1w2UWQCNVYyDGdXJVNwAScGJVFtBG9SYV4xUWEFMAY0UzgHMldlVToLcAIjVGsLLVM6XGwHZQUyAnMGNQQyADZcLlFnAixWNwxmVyVTYQE7Bm9RYA=="},"time":1734169364,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/26\/api_document","description":"蓝奏云直连解析官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"url":{"type":"string","description":"蓝奏云链接，支持单个文件或者文件夹，如果是文件夹则只能返回json"},"pwd":{"type":"string","description":"密码，默认为空，不需要密码"},"format":{"type":"string","description":"返回格式，支持json，和直接跳转，默认直接跳转到直连地址"}},"required":["url"]}}}}}},"\/api\/ai\/couplet":{"post":{"summary":"智能对联生成","description":"智能对联生成，输入关键字生成押韵对联","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_52"}}}]},"example":{"request_id":"726503871010050049","success":true,"message":"success","code":200,"data":{"keyword":"天下第一","text":"世间无双"},"time":1734172020,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/27\/api_document","description":"智能对联生成官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"keyword":{"type":"string","description":"上联"}},"required":["keyword"]}}}}}},"\/api\/ai\/poem":{"post":{"summary":"藏头诗生成","description":"输入关键字，生成藏头、藏尾、藏中等诗词，支持押韵生成","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_53"}}}]},"example":{"request_id":"726522748246958080","success":true,"message":"success","code":200,"data":{"keyword":"天下第一","poem":"天香飘户月枝春，下感知己时横流。第一莫教渔父见，一归华表好增伤。","list":["天香飘户月枝春","下感知己时横流","第一莫教渔父见","一归华表好增伤"]},"time":1734176521,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/28\/api_document","description":"藏头诗生成官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"keyword":{"type":"string","description":"藏字内容，2-8个字\t"},"num":{"type":"string","default":"5","description":"诗句格式，5五言诗[默认]、7七言诗\t"},"type":{"type":"string","default":"1","description":"藏头位置，1藏头[默认]、2藏尾、3藏中、4递增、5递减\t"},"rhyme":{"type":"string","default":"1","description":"押韵类型，1双句一压[默认]、2双句押韵、3一三四押\t"}},"required":["keyword"]}}}}}},"\/api\/tophub":{"post":{"summary":"今日热榜","description":"今日热榜，聚合各大网站热点资讯，如：抖音、微博、腾讯，微信、今日头条、知乎等数百个热门站点热榜数据","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_54"}}}]},"example":{"request_id":"763909211690631168","success":true,"message":"success","code":200,"data":{"name":"AITNT - AI技术研报","last_update":"2025-03-27 23:30:03","list":[{"title":"7B模型搞定AI视频通话，阿里最新开源炸场，看听说写全模态打通，开发者企业免费商用","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12583","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/27\/be536f51-0adb-11f0-87ad-fa163e47d677.jpg","other":null},{"title":"Agent太火！看这一篇综述，知识就不会学杂了丨华东师大&amp;东华大学出品","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12578","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/27\/249419e8-0ad7-11f0-ace8-fa163e47d677.jpg","other":null},{"title":"这AI绝对偷了格莱美奖杯！直接把LLaMA喂成乐坛顶流：开源版Suno来了！","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12574","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/27\/d35505d8-0ad1-11f0-9e46-fa163e47d677.jpg","other":null},{"title":"Nature：AI击败人类医学专家？哈佛团队：这一领域仍需解决4大难题","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12571","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/27\/8c160382-0ace-11f0-8a1b-fa163e47d677.jpg","other":null},{"title":"上财开源首个金融领域R1类推理大模型，7B模型媲美DeepSeek-R1 671B满血版性能","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12561","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/27\/8a9efee9-0aac-11f0-9b76-fa163e47d677.jpg","other":null},{"title":"轨迹可控视频生成新范式，复旦微软破解视频生成难题，精准控制任意物体运动","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12558","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/27\/420af8e9-0aa9-11f0-8d4b-fa163e47d677.jpg","other":null},{"title":"Stable Diffusion变身3D神器！一个LoRA将2D图像转3D模型","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12547","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/26\/5fa1a96f-0a0f-11f0-8dd3-fa163e47d677.jpg","other":null},{"title":"视频生成的测试时Scaling时刻！清华开源Video-T1，无需重新训练让性能飙升","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12544","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/26\/a76c6155-0a0d-11f0-a99e-fa163e47d677.jpg","other":null},{"title":"你定个主题，用AgentRxiv可以让DeepSeek-v3自主搞科研写论文，效率暴增14% |最新","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12543","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/26\/cc0ee979-0a0c-11f0-aa2d-fa163e47d677.jpg","other":null},{"title":"拾象科技万字详解MCP：Agentic AI中间层最优解，以及创业公司的三个机会","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12534","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/26\/ff0edbc3-09e7-11f0-b8d9-fa163e47d677.jpg","other":null},{"title":"牛津教授惊人预警：AI十年科学发现，顶人类100年！科研速度已超人类500倍","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12533","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/26\/5ba8ca6e-09e6-11f0-a51e-fa163e47d677.jpg","other":null},{"title":"随手一拍，高效重建大型3D开放场景，港科广GraphGS突破传统重建技术瓶颈｜ICLR 2024","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12532","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/26\/e56e8deb-09e4-11f0-9a01-fa163e47d677.jpg","other":null},{"title":"视频可以精准控制了！一句话给熊戴眼镜的那种，扩散模型立功，浙大悉尼科技大学出品 | ICLR 2025","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12529","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/26\/ca919b73-09e2-11f0-a0d1-fa163e47d677.jpg","other":null},{"title":"Uni-3DAR用自回归统一微观与宏观的3D世界，性能超扩散模型256%，推理快21.8倍","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12526","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/26\/1b411e5c-09df-11f0-9b74-fa163e47d677.jpg","other":null},{"title":"挖掘DiT的位置解耦特性，Personalize Anything免训练实现个性化图像生成","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12525","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/26\/3a2a5c76-09de-11f0-b8c3-fa163e47d677.jpg","other":null},{"title":"AI智能体首次跨实验室协作，组队「抄作业」，论文发不停！科研效率暴增14%","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12519","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/25\/dc67c122-096b-11f0-be75-fa163e47d677.jpg","other":null},{"title":"AMD跑DeepSeek性能超H200！128并发Token间延迟不超50ms，吞吐量达H200五倍","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12518","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/25\/24bdd6cb-0960-11f0-8f5c-fa163e47d677.jpg","other":null},{"title":"全球顶级模型集体0分，AI终极大考人类5分钟秒杀！Keras之父戳破AGI神话","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12517","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/25\/0fc9e48a-095f-11f0-a9b2-fa163e47d677.jpg","other":null},{"title":"推理延展到真实物理世界，英伟达Cosmos-Reason1：8B具身推理表现超过OpenAI ο1","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12516","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/25\/21cb0577-095f-11f0-8813-fa163e47d677.jpg","other":null},{"title":"简单吧，Agent优化就两种路径，有参数优化和无参数优化，你选哪种 | 最新综述","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12513","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/25\/d18e9155-0953-11f0-9917-fa163e47d677.jpg","other":null},{"title":"Uni-3DAR用自回归统一微观与宏观的3D世界，性能超扩散模型256%，推理快21.8倍","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12511","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/25\/c0f243a6-0949-11f0-989c-fa163e47d677.jpg","other":null},{"title":"深入学习AI Agent：6张图彻底看懂OpenManus，附从0入门教程","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12510","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/25\/b6b2dfbd-0948-11f0-90da-fa163e47d677.jpg","other":null},{"title":"DeepSeek解封“算力智子”后，数据成AI未来发展关键","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12509","image":"https:\/\/picx.zhimg.com\/80\/v2-24b11a12020efa7ad3f72eaf0c3bc7b0_1440w.webp","other":null},{"title":"挖掘DiT的位置解耦特性，Personalize Anything免训练实现个性化图像生成","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12507","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/25\/77bfce6d-0945-11f0-a6d1-fa163e47d677.jpg","other":null},{"title":"中学生就能看懂：从零开始理解LLM内部原理【七】｜ “概率”从哪里来？","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12505","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/25\/3e355b77-0943-11f0-b0d8-fa163e47d677.jpg","other":null},{"title":"DeepSeek-V3深夜惊爆上新！代码数学飙升剑指GPT-5，一台Mac可跑","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12503","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/25\/e2703983-092e-11f0-8523-fa163e47d677.jpg","other":null},{"title":"一文看懂多模态思维链","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12492","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/25\/514572db-091f-11f0-8e3f-fa163e47d677.jpg","other":null},{"title":"爆火Block Diffusion引发LLM架构变革？自回归+扩散模型完美结合 | ICLR 2025","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12491","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/25\/1c6e2ad9-091e-11f0-a6c9-fa163e47d677.jpg","other":null},{"title":"棋盘变战场，大模型却呆了？普林斯顿、UT Austin新基准SPIN-Bench曝AI智商瓶颈","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12490","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/25\/846b9750-091b-11f0-a451-fa163e47d677.jpg","other":null},{"title":"STEM博士创业率暴跌38%，40岁才达科研黄金期！AI赛博队友完胜双人组","link":"https:\/\/www.aitntnews.com\/newDetail.html?newId=12489","image":"https:\/\/www.aitntnews.com\/pictures\/2025\/3\/25\/2c7315c2-091a-11f0-9486-fa163e47d677.jpg","other":null}]},"time":1743090149,"usage":1}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/29\/api_document","description":"今日热榜官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"热榜ID"},"type":{"type":"string","default":"weibo","description":"热榜类型，和ID参数二选一\t，默认为 weibo"},"date":{"type":"string","description":"指定日期的热榜数据，默认为当天的数据，时间格式为：2025-03-27"}}}}}}}},"\/api\/tophub\/site":{"post":{"summary":"今日热榜站点列表","description":"今日热榜，聚合各大网站热点资讯，如：抖音、微博、腾讯，微信、今日头条、知乎等数百个热门站点热榜数据","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_55"}}}]},"example":{"request_id":"763909333942009856","success":true,"message":"success","code":200,"data":[{"category":"热点榜","title":"抖音 - 热点榜","id":"BOoYax","site":"抖音"},{"category":"音乐榜","title":"抖音 - 音乐榜","id":"VaLXag","site":"抖音"},{"category":"综合资讯","title":"36氪 - 综合资讯","id":"gldzMo","site":"36氪"},{"category":"最新快讯","title":"36氪 - 最新快讯","id":"gaZJaJ","site":"36氪"},{"category":"文章资讯","title":"36氪 - 文章资讯","id":"BayAaq","site":"36氪"},{"category":"热议榜","title":"36氪 - 热议榜","id":"YlEWMD","site":"36氪"},{"category":"视频榜","title":"36氪 - 视频榜","id":"daGJMz","site":"36氪"},{"category":"人气榜","title":"36氪 - 人气榜","id":"BOPGlz","site":"36氪"},{"category":"收藏榜","title":"36氪 - 收藏榜","id":"XaQEax","site":"36氪"},{"category":"热搜榜","title":"微博 - 热搜榜","id":"BaXJOg","site":"微博"},{"category":"热搜榜","title":"百度 - 热搜榜","id":"GMbZMo","site":"百度"},{"category":"热梗榜","title":"百度 - 热梗榜","id":"ParDOm","site":"百度"},{"category":"小说榜","title":"百度 - 小说榜","id":"WlvoOn","site":"百度"},{"category":"电视剧榜","title":"百度 - 电视剧榜","id":"rlenOL","site":"百度"},{"category":"电影榜","title":"百度 - 电影榜","id":"oOYxlA","site":"百度"},{"category":"汽车榜","title":"百度 - 汽车榜","id":"mOxLOW","site":"百度"},{"category":"游戏榜","title":"百度 - 游戏榜","id":"AlBpMB","site":"百度"},{"category":"文娱榜","title":"微博 - 文娱榜","id":"vaDrOK","site":"微博"},{"category":"要文榜","title":"微博 - 要文榜","id":"gMJkaY","site":"微博"},{"category":"综合热门","title":"哔哩哔哩 - 综合热门","id":"vMAzae","site":"哔哩哔哩"},{"category":"每周必看","title":"哔哩哔哩 - 每周必看","id":"AlNvlk","site":"哔哩哔哩"},{"category":"入站必刷","title":"哔哩哔哩 - 入站必刷","id":"XORgMZ","site":"哔哩哔哩"},{"category":"热榜","title":"知乎 - 热榜","id":"BMzQOL","site":"知乎"},{"category":"头条热榜","title":"今日头条 - 头条热榜","id":"yanZaZ","site":"今日头条"},{"category":"网易要闻","title":"网易新闻 - 网易要闻","id":"BamEax","site":"网易新闻"},{"category":"科技","title":"网易新闻 - 科技","id":"ZapROR","site":"网易新闻"},{"category":"财经","title":"网易新闻 - 财经","id":"WaKVML","site":"网易新闻"},{"category":"运动","title":"网易新闻 - 运动","id":"BMqDOW","site":"网易新闻"},{"category":"新浪热榜","title":"新浪新闻 - 新浪热榜","id":"rOgzld","site":"新浪新闻"},{"category":"历史上的今天","title":"历史上的今天 - 历史上的今天","id":"nOjPaX","site":"历史上的今天"},{"category":"热门文章","title":"少数派 - 热门文章","id":"makgaA","site":"少数派"},{"category":"推荐文章","title":"少数派 - 推荐文章","id":"AlwPOJ","site":"少数派"},{"category":"应用推荐","title":"少数派 - 应用推荐","id":"PlVGOq","site":"少数派"},{"category":"matrix推荐","title":"少数派 - matrix推荐","id":"zMWDpa","site":"少数派"},{"category":"matrix热门","title":"少数派 - matrix热门","id":"BaoYYO","site":"少数派"},{"category":"一派","title":"少数派 - 一派","id":"VOLGXl","site":"少数派"},{"category":"头条热点","title":"CSDN - 头条热点","id":"gMdvzl","site":"CSDN"},{"category":"热点资讯","title":"CSDN - 热点资讯","id":"gOZAJl","site":"CSDN"},{"category":"掘金文章榜","title":"掘金 - 掘金文章榜","id":"BOyjAM","site":"掘金"},{"category":"文章收藏榜","title":"掘金 - 文章收藏榜","id":"YMEQWM","site":"掘金"},{"category":"今日热度榜单","title":"吾爱破解 - 今日热度榜单","id":"dOGBJl","site":"吾爱破解"},{"category":"腾讯要闻","title":"腾讯新闻 - 腾讯要闻","id":"BaPdGa","site":"腾讯新闻"},{"category":"热门搜索","title":"360搜索 - 热门搜索","id":"XOQYEO","site":"360搜索"},{"category":"短视频榜","title":"360搜索 - 短视频榜","id":"BOXvJa","site":"360搜索"},{"category":"电视剧榜","title":"360搜索 - 电视剧榜","id":"GlbbZl","site":"360搜索"},{"category":"综艺榜","title":"360搜索 - 综艺榜","id":"POrLDa","site":"360搜索"},{"category":"电影榜","title":"360搜索 - 电影榜","id":"WMveoO","site":"360搜索"},{"category":"热搜榜","title":"搜狗搜索 - 热搜榜","id":"rMeAnM","site":"搜狗搜索"},{"category":"澎湃热榜","title":"澎湃新闻 - 澎湃热榜","id":"oaYexa","site":"澎湃新闻"},{"category":"澎湃要闻","title":"澎湃新闻 - 澎湃要闻","id":"maxqLl","site":"澎湃新闻"},{"category":"人工智能-最新榜","title":"掘金 - 人工智能-最新榜","id":"AMBBpM","site":"掘金"},{"category":"人工智能-推荐榜","title":"掘金 - 人工智能-推荐榜","id":"vODPrO","site":"掘金"},{"category":"AI频道","title":"techweb - AI频道","id":"glJRkl","site":"techweb"},{"category":"新闻资讯","title":"aibase - 新闻资讯","id":"vlAXza","site":"aibase"},{"category":"热门视频","title":"aibase - 热门视频","id":"AMNjvM","site":"aibase"},{"category":"最新AI资讯","title":"智源社区 - 最新AI资讯","id":"XaRRga","site":"智源社区"},{"category":"热门AI资讯","title":"智源社区 - 热门AI资讯","id":"BlzRQl","site":"智源社区"},{"category":"每日AI早报","title":"AI产品榜 - 每日AI早报","id":"yOnXZa","site":"AI产品榜"},{"category":"AGI","title":"钛媒体 - AGI","id":"BOmQEO","site":"钛媒体"},{"category":"前沿科技","title":"虎嗅网 - 前沿科技","id":"ZOprRa","site":"虎嗅网"},{"category":"全部","title":"虎嗅网 - 全部","id":"WOKmVa","site":"虎嗅网"},{"category":"车与出行","title":"虎嗅网 - 车与出行","id":"BlqyDl","site":"虎嗅网"},{"category":"商业消费","title":"虎嗅网 - 商业消费","id":"ragezO","site":"虎嗅网"},{"category":"社会文化","title":"虎嗅网 - 社会文化","id":"najvPa","site":"虎嗅网"},{"category":"金融财经","title":"虎嗅网 - 金融财经","id":"mOkGgO","site":"虎嗅网"},{"category":"出海","title":"虎嗅网 - 出海","id":"AMwRPO","site":"虎嗅网"},{"category":"国际热点","title":"虎嗅网 - 国际热点","id":"PMVnGM","site":"虎嗅网"},{"category":"游戏娱乐","title":"虎嗅网 - 游戏娱乐","id":"zlWXpO","site":"虎嗅网"},{"category":"健康","title":"虎嗅网 - 健康","id":"BOorYl","site":"虎嗅网"},{"category":"3C数码","title":"虎嗅网 - 3C数码","id":"VaLXXa","site":"虎嗅网"},{"category":"每日AI资讯","title":"AI-BOT - 每日AI资讯","id":"gldWza","site":"AI-BOT"},{"category":"AI资讯","title":"AITNT - AI资讯","id":"gaZjJa","site":"AITNT"},{"category":"AI技术研报","title":"AITNT - AI技术研报","id":"BayRAl","site":"AITNT"},{"category":"AI资讯","title":"36氪 - AI资讯","id":"YlEBWO","site":"36氪"},{"category":"步行街热帖","title":"虎扑 - 步行街热帖","id":"daGxJl","site":"虎扑"}],"time":1743090178,"usage":1}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/29\/api_document","description":"今日热榜站点列表官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{"page":{"type":"string","default":"1","description":"分页，1"},"page_size":{"type":"string","default":"100","description":"分页大小"}}}}}}}},"\/api\/encrypt":{"post":{"summary":"内容加解密","description":"内容加密接口,支持 md5 sha1 sha256 sha512 urlencode urldecode base64_encode,base64_decode","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_56"}}}]},"example":{"request_id":"726555540305547264","success":true,"message":"success","code":200,"data":{"type":"hmac_sha1","content":"Hello","encrypt":"24864bf6b20e12ae9e71a39dd1096a49c30f664b","secret":""},"time":1734184339,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/30\/api_document","description":"内容加解密官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"content":{"type":"string","description":"要加密或者解密的内容"},"type":{"type":"string","default":"md5","description":"加解密类型，默认md5"},"secret":{"type":"string","description":"加密秘钥，hmac加密 需要填写"}},"required":["content"]}}}}}},"\/api\/pinyin":{"post":{"summary":"中文转拼音","description":"将中文转换为拼音格式","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_57"}}}]},"example":[]}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/31\/api_document","description":"中文转拼音官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"word":{"type":"string","description":"要转换的中文字符"},"de":{"type":"string","default":" ","description":"拼音间隔，默认为一个空格"},"abbr":{"type":"boolean","default":false,"description":"是否为首字母格式，默认为否，如果为是，则只会返回首字母"},"tone":{"type":"boolean","default":false,"description":"是否返回音标，默认否"}},"required":["word"]}}}}}},"\/api\/lunar":{"post":{"summary":"农历查询","description":"指定日期查询当日的星期、星座、农历、生肖、天干地支、岁次、黄历相关的福神、喜神、宜忌、节日等信息，可以进行阴阳历转换。","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_58"}}}]},"example":{"request_id":"726590348939575296","success":true,"message":"success","code":200,"data":{"lunar_year":2024,"lunar_month":11,"lunar_day":12,"lunar_hour":12,"lunar_year_chinese":"二〇二四","lunar_month_chinese":"冬月","lunar_day_chinese":"十二","lunar_hour_chinese":"午时","week_name":"周四","week_no":4,"ganzhi_year":"甲辰","ganzhi_month":"丙子","ganzhi_day":"庚戌","ganzhi_hour":"壬午","wuxing_year":"木土","wuxing_month":"火水","wuxing_day":"金土","wuxing_hour":"水火","color_year":"青","color_month":"红","color_day":"白","color_hour":"黑","animal":"龙","term":"","is_leap":true,"is_today":false,"constellation":"射手","is_same_year":true,"yi":["祭祀","开光","祈福","解除","作梁","动土","安床","掘井","栽种","纳畜","破土","移柩"],"ji":["嫁娶","出行","赴任","盖屋","入殓","入宅","移徙","出火","进人口","安葬"],"jishen":["天恩","时阳","生气"],"xiongshen":["五虚","九空","往亡","天刑"],"pengzugan":"庚不经络织机虚张","pengzuzhi":"戌不吃犬作怪上床","caishen":"震","caishen_desc":"正东","fushen":"坤","fushen_desc":"西南","xishen":"乾","xishen_desc":"西北","taishen":"碓磨栖 外东北","gregorian_year":"2024","gregorian_month":"12","gregorian_day":"12","gregorian_hour":"12","shou":"青龙","gong":"东","xiu":"角","xiu_song":"角星造作主荣昌，外进田财及女郎，嫁娶婚姻出贵子，文人及第见君王，惟有埋葬不可用，三年之后主瘟疫，起工修筑坟基地，堂前立见主人凶。","xiu_luck":"吉","xiu_animal":"蛟","wuhou":"大雪 二候"},"time":1734192638,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/32\/api_document","description":"农历查询官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":false,"content":{"application\/json":{"schema":{"type":"object","properties":{"date":{"type":"string","default":"2024-12-12 12:00","description":"阳历日期，如：2024-12-12 12:00"},"unix_time":{"type":"string","description":"10位时间戳，与date二选一传入"}}}}}}}},"\/api\/avatar":{"post":{"summary":"获取头像","description":"获取头像CDN,支持QQ头像，Gravatar 头像，用于加速头像访问","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_59"}}}]},"example":[]}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/33\/api_document","description":"获取头像官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"email":{"type":"string","default":"im@alone88.cn","description":"头像邮箱地址"},"size":{"type":"string","default":"100","description":"头像大小，默认100"},"format":{"type":"string","default":"bin","description":"头像返回格式，默认bin,直接返回头像内容，支持 bin ,json"}},"required":["email"]}}}}}},"\/api\/bilibili\/cover":{"post":{"summary":"哔哩哔哩封面获取","description":"获取哔哩哔哩封面，支持：视频、直播、番剧等","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_60"}}}]},"example":{"request_id":"726886619017527297","success":true,"message":"success","code":200,"data":{"title":"怪兽8号","desc":"【此漫画的翻译由版权方提供】在怪兽出现率首屈一指的日本——怪兽无情地蹂躏着这个国家，践踏人们的日常。曾经立志要成为防卫队员，而今从事怪兽专门清扫行业的主人公日比野卡夫卡在某一天因为受到谜之生物的影响，身体开始怪兽化。担任讨伐怪兽工作的日本防卫队将这样的他称作“怪兽8号”。","cover":"https:\/\/i0.hdslb.com\/bfs\/manga-static\/e2cbb49ea3f48fcaa64b129bd1a2ff7b8e82fb88.jpg"},"time":1734263275,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/34\/api_document","description":"哔哩哔哩封面获取官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"c":{"type":"string","default":"https:\/\/manga.bilibili.com\/m\/mc30124\/595899","description":"哔哩哔哩链接，视频链接、番剧链接"},"format":{"type":"string","description":"返回格式，支持 ：json、img"}},"required":["c"]}}}}}},"\/api\/idcard":{"post":{"summary":"身份证信息查询","description":"可查询中国大陆居民身份证，港澳台居民身份证信息。可查询身份证的 出生年月，居住地 ，生日信息 星座 ， 生肖 年龄 等信息，支持 15 位和 18 位身份证","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_61"}}}]},"example":{"request_id":"726938435625402369","success":true,"message":"success","code":200,"data":{"address_code":"441282","abandoned":1,"address":"广东省肇庆市罗定市","province":"广东省","city":"肇庆市","county":"罗定市","birthday":"1981-01-01","constellation":"摩羯座","zodiac":"酉鸡","sex":1,"length":18,"age":43},"time":1734275628,"usage":0}}}},"400":{"description":"请求失败","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}}},"security":[{"apiKey":[]}],"externalDocs":{"url":"https:\/\/www.alapi.cn\/api\/35\/api_document","description":"身份证信息查询官方接口文档"},"requestBody":{"description":"JSON 格式的请求参数","required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"身份证号"}},"required":["id"]}}}}}},"\/api\/idcard\/upgrade":{"post":{"summary":"身份证升级","description":"可查询中国大陆居民身份证，港澳台居民身份证信息。可查询身份证的 出生年月，居住地 ，生日信息 星座 ， 生肖 年龄 等信息，支持 15 位和 18 位身份证","parameters":[],"responses":{"200":{"description":"成功响应","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/BaseResponse"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Response_62"}}}]},"example":{"request_id":"726939267133587456","success":true,"message":"success","code":20
[...]
